<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">
      <% if @project %>
        <%= t('.title_for_project', project: @project.name) %>
      <% else %>
        <%= t('.title') %>
      <% end %>
    </h5>
    <div>
      <%= link_to new_incoming_delivery_path(project_id: @project&.id),
                  class: 'btn btn-primary btn-sm' do %>
        <i class="bi bi-plus"></i> <%= t('.new_delivery') %>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-striped table-hover table-sm">
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.incoming_delivery.order_number') %></th>
            <th><%= t('activerecord.attributes.incoming_delivery.delivery_date') %></th>
            <th><%= t('activerecord.attributes.incoming_delivery.supplier_name') %></th>
            <th><%= t('activerecord.attributes.incoming_delivery.project') %></th>
            <th><%= t('.items_count') %></th>
            <th class="text-end"><%= t('common.labels.actions') %></th>
          </tr>
        </thead>

        <tbody>
          <% @incoming_deliveries.each do |delivery| %>
            <tr>
              <td><%= delivery.order_number %></td>
              <td><%= delivery.delivery_date.strftime("%Y-%m-%d") %></td>
              <td><%= delivery.supplier_name %></td>
              <td><%= delivery.project.name %></td>
              <td><%= delivery.delivery_items.count %></td>
              <td class="text-end">
                <div class="btn-group btn-group-sm">
                  <%= link_to incoming_delivery_path(delivery),
                             class: 'btn btn-outline-info m-1',
                             title: t('incoming_deliveries.buttons.view'),
                             data: { bs_toggle: 'tooltip' } do %>
                    <i class="bi bi-eye"></i>
                  <% end %>

                  <%= link_to edit_incoming_delivery_path(delivery),
                             class: 'btn btn-outline-primary m-1',
                             title: t('incoming_deliveries.buttons.edit'),
                             data: { bs_toggle: 'tooltip' } do %>
                    <i class="bi bi-pencil"></i>
                  <% end %>

                  <%= button_to incoming_delivery_path(delivery),
                             method: :delete,
                             class: 'btn btn-outline-danger m-1',
                             title: t('incoming_deliveries.buttons.delete'),
                             form: { style: 'display: inline' },
                             data: {
                               turbo_confirm: t('common.messages.confirm_delete', model: IncomingDelivery.model_name.human.downcase),
                               bs_toggle: 'tooltip'
                             } do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

