<%= render 'breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.incoming_deliveries.deliveries'),
    path: project_incoming_deliveries_path(@project) },
  { text: @incoming_delivery.order_number }
] %>

<% if @incoming_delivery && @project %>
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0"><%= t('.title') %></h5>
      <div>
        <%= link_to edit_project_incoming_delivery_path(@project, @incoming_delivery),
                    class: 'btn btn-primary m-1 btn-sm',
                    title: t('incoming_deliveries.buttons.edit'),
                    data: { bs_toggle: 'tooltip' } do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to project_incoming_deliveries_path(@project),
                    class: 'btn btn-primary m-1 btn-sm',
                    title: t('incoming_deliveries.buttons.back'),
                    data: { bs_toggle: 'tooltip' } do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
      </div>
    </div>

  <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">

            <dt class="col-sm-4"><%= t('.order_number') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.order_number %></dd>

            <dt class="col-sm-4"><%= t('.work_location') %></dt>
            <dd class="col-sm-8"><%= t("work_locations.types.#{@incoming_delivery.work_location.location_type}") %></dd>

            <dt class="col-sm-4"><%= t('.delivery_note_number') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.delivery_note_number %></dd>

            <dt class="col-sm-4"><%= t('.delivery_date') %></dt>
            <dd class="col-sm-8"><%= l(@incoming_delivery.delivery_date, format: :long) %></dd>

            <dt class="col-sm-4"><%= t('.supplier') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.supplier_name %></dd>

            <dt class="col-sm-4"><%= t('.project') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.project.name %></dd>

            <dt class="col-sm-4"><%= t('.created_by') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.user&.name %></dd>

            <dt class="col-sm-4"><%= t('.completed') %></dt>
            <dd class="col-sm-8"><%= status_label(@incoming_delivery.completed ? t('common.yes') : t('common.no')) %></dd>

          <%= render 'hold_info', record: @incoming_delivery %>
          </dl>
        </div>

        <div class="col-md-6">
          <% if @incoming_delivery.delivery_notes.attached? %>
            <div class="mb-3">
              <strong><%= t('.delivery_note') %>:</strong><br>
              <div class="d-flex flex-wrap gap-2">
                <% @incoming_delivery.delivery_notes.each do |note| %>
                  <%= link_to rails_blob_path(note, disposition: "inline"), target: "_blank", class: "text-decoration-none" do %>
                    <div class="border rounded p-2" style="width: 150px;">
                      <div class="text-center">
                        <% if note.content_type.start_with?('image/') %>
                          <%= image_tag note.representation(resize_to_limit: [100, 100]), class: "img-fluid mb-1" %>
                        <% else %>
                          <i class="bi bi-file-pdf text-danger" style="font-size: 1.5rem;"></i>
                        <% end %>
                        <div class="small text-dark text-truncate mt-1" title="<%= note.filename.to_s %>">
                          <%= note.filename.to_s %>
                        </div>
                        <div class="text-muted" style="font-size: 0.7rem;">
                          <%= number_to_human_size(note.byte_size) %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

<% else %>
  <div class="alert alert-warning">
    <%= t('.not_found') %>
    <%= link_to t('common.back'), root_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<% if @project && @incoming_delivery %>
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0"><%= t('.delivery_items') %></h5>
      <div>
        <%= link_to new_project_incoming_delivery_delivery_item_path(
                      project_id: @project.id,
                      incoming_delivery_id: @incoming_delivery.id
                    ),
                    class: 'btn btn-primary btn-sm' do %>
          <i class="bi bi-plus"></i> <%= t('.add_item') %>
        <% end %>
      </div>
    </div>

    <div class="card-body">
      <% if @delivery_items.present? %>
        <%= render 'delivery_items/table', delivery_items: @delivery_items %>
      <% else %>
        <p class="text-muted"><%= t('.no_items') %></p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t('.delivery_not_found') %>
    <%= link_to t('common.back'), project_incoming_deliveries_path(@project),
                class: 'btn btn-outline-primary' %>
  </div>
<% end %>
