<%= render 'breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.incoming_deliveries.deliveries'),
    path: project_incoming_deliveries_path(@project) },
  { text: @incoming_delivery.order_number }
] %>

<% if @incoming_delivery && @project %>
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0"><%= t('.title') %></h5>
      <div>
        <%= link_to edit_project_incoming_delivery_path(@project, @incoming_delivery),
                    class: 'btn btn-outline-primary m-1 btn-sm',
                    title: t('incoming_deliveries.buttons.edit'),
                    data: { bs_toggle: 'tooltip' } do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to project_incoming_deliveries_path(@project),
                    class: 'btn btn-outline-secondary m-1 btn-sm',
                    title: t('incoming_deliveries.buttons.back'),
                    data: { bs_toggle: 'tooltip' } do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
      </div>
    </div>

  <div class="card-body">
    <% if @delivery_items.present? %>
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-4"><%= t('.order_number') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.order_number %></dd>

            <dt class="col-sm-4"><%= t('.work_location') %></dt>
            <dd class="col-sm-8"><%= t("work_locations.types.#{@incoming_delivery.work_location.location_type}") %></dd>
            <dt class="col-sm-4"><%= t('.delivery_note_number') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.delivery_note_number %></dd>

            <dt class="col-sm-4"><%= t('.delivery_date') %></dt>
            <dd class="col-sm-8"><%= l(@incoming_delivery.delivery_date, format: :long) %></dd>

            <dt class="col-sm-4"><%= t('.supplier') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.supplier_name %></dd>

            <dt class="col-sm-4"><%= t('.project') %></dt>
            <dd class="col-sm-8"><%= @incoming_delivery.project.name %></dd>
          </dl>
        </div>

        <div class="col-md-6">
          <% if @incoming_delivery.delivery_notes.attached? %>
            <div class="mb-3">
              <strong><%= t('.delivery_note') %>:</strong><br>
              <div class="row g-2">
                <% @incoming_delivery.delivery_notes.each_with_index do |note, index| %>
                  <% if note.content_type.start_with?('image/') %>
                    <div class="col-auto">
                      <%= image_tag note.representation(resize_to_limit: [100, 100]),
                                  class: "img-thumbnail cursor-pointer",
                                  data: {
                                    bs_toggle: "modal",
                                    bs_target: "#imageModal#{index}"
                                  } %>

                      <!-- Modal for this image -->
                      <div class="modal fade" id="imageModal<%= index %>" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title"><%= note.filename %></h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body text-center">
                              <%= image_tag note.representation(resize_to_limit: [800, 800]), class: "img-fluid" %>
                            </div>
                            <div class="modal-footer">
                              <%= link_to t('incoming_deliveries.show.download'), rails_blob_path(note, disposition: "attachment"),
                                  class: "btn btn-primary" %>
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                <%= t('incoming_deliveries.show.close') %>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="col-auto">
                      <%= link_to note.filename, rails_blob_path(note, disposition: "attachment"),
                                class: "btn btn-outline-secondary m-1 btn-sm" %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% else %>
        <p class="text-muted"><%= t('.no_items') %></p>
      <% end %>
    </div>
  </div>

<% else %>
  <div class="alert alert-warning">
    <%= t('.not_found') %>
    <%= link_to t('common.back'), root_path, class: 'btn btn-outline-primary' %>
  </div>
<% end %>

<% if @project && @incoming_delivery %>
  <div class="card mb-4">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0"><%= t('.delivery_items') %></h5>
      <div>
        <%= link_to new_project_incoming_delivery_delivery_item_path(
                      project_id: @project.id,
                      incoming_delivery_id: @incoming_delivery.id
                    ),
                    class: 'btn btn-primary btn-sm' do %>
          <i class="bi bi-plus"></i> <%= t('.add_item') %>
        <% end %>
      </div>
    </div>

    <div class="card-body">
      <% if @delivery_items.present? %>
        <%= render 'delivery_items/table', delivery_items: @delivery_items %>
      <% else %>
        <p class="text-muted"><%= t('.no_items') %></p>
      <% end %>
    </div>
  </div>
<% else %>
  <div class="alert alert-warning">
    <%= t('.delivery_not_found') %>
    <%= link_to t('common.back'), project_incoming_deliveries_path(@project),
                class: 'btn btn-outline-primary' %>
  </div>
<% end %>


