<%= form_with(model: [@project, @material_certificate], local: true) do |f| %>
  <% if @material_certificate.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@material_certificate.errors.count, "error") %> prohibited this certificate from being saved:</h4>
      <ul>
        <% @material_certificate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-3">
        <%= f.label :certificate_number, "Certificate Number (Last: #{last_certificate_number(@project.id)})", class: 'form-label' %>
        <%= f.text_field :certificate_number, class: 'form-control', required: true %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :batch_number, class: 'form-label' %>
        <%= f.text_field :batch_number, class: 'form-control', required: true %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group mb-3">
        <%= f.label :issue_date, class: 'form-label' %>
        <%= f.date_field :issue_date, class: 'form-control', required: true %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :issuer_name, class: 'form-label' %>
        <%= f.text_field :issuer_name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :certificate_file, class: 'form-label' %>
    <%= f.file_field :certificate_file, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :delivery_items, "Associated Delivery Items", class: 'form-label' %>
    <div class="delivery-items-selection border p-3 rounded">
      <%= f.collection_check_boxes :delivery_item_ids, @delivery_items, :id, :tag_number do |b| %>
        <div class="form-check">
          <%= b.check_box(class: 'form-check-input') %>
          <%= b.label class: 'form-check-label' do %>
            <%= "Tag: #{b.text} - Batch: #{b.object.batch_number} (Delivery: #{b.object.incoming_delivery.order_number})" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-group mt-4">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Cancel', material_certificates_path, class: 'btn btn-secondary' %>
  </div>
<% end %>

