<%= form_with(model: @material_certificate, local: true) do |f| %>
  <% if @material_certificate.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= t('.errors.header', count: @material_certificate.errors.count) %></h4>
      <ul>
        <% @material_certificate.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group mb-3">
        <%= f.label :certificate_number,
            t('.certificate_number_last', number: @last_uploaded_cert_number),
            class: 'form-label' %>
        <%= f.text_field :certificate_number, class: 'form-control', required: true %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :batch_number, t('.batch_number'), class: 'form-label' %>
        <%= f.text_field :batch_number, class: 'form-control', required: true %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :line_id, t('.line_id'), class: 'form-label' %>
        <%= f.text_field :line_id, class: 'form-control', required: true %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :issue_date, t('.issue_date'), class: 'form-label' %>
        <%= f.date_field :issue_date, class: 'form-control', value: Date.current, required: true %>
      </div>

      <div class="form-group mb-3">
        <%= f.label :issuer_name, t('.issuer_name'), class: 'form-label' %>
        <%= f.text_field :issuer_name, class: 'form-control', required: true %>
      </div>
    </div>
  </div>

  <div class="form-group mb-3">
    <%= f.label :description, t('.description'), class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control', rows: 3 %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :certificate_file, t('.certificate'), class: 'form-label' %>
    <%= f.file_field :certificate_file, class: 'form-control' %>
  </div>

  <div class="form-group mt-4">
    <%= f.submit t('.submit'), class: 'btn btn-primary' %>
    <%= link_to t('.cancel'), material_certificates_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
