<div class="mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white"><%= t('.title') %></h1>
    <%= link_to t('.new_certificate'),
        new_material_certificate_path,
        class: 'btn btn-primary' %>
  </div>

  <%= form_tag material_certificates_path, method: :get, class: 'mb-4' do %>
    <div class="input-group">
      <%= text_field_tag :search, params[:search],
                        class: 'form-control',
                        placeholder: t('common.labels.search_placeholder') %>
      <div class="input-group-append">
        <%= submit_tag t('common.labels.search_button'), class: 'btn btn-primary m-1' %>
      </div>
    </div>
  <% end %>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>
            <%= link_to t('activerecord.attributes.material_certificate.certificate_number'),
                request.params.merge(sort: 'certificate_number', direction: (params[:sort] == 'certificate_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('certificate_number') %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.material_certificate.batch_number'),
                request.params.merge(sort: 'batch_number', direction: (params[:sort] == 'batch_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('batch_number') %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.material_certificate.description'),
                request.params.merge(sort: 'description', direction: (params[:sort] == 'description' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('description') %>
          </th>
          <th><%= t('activerecord.attributes.material_certificate.certificate') %></th>
          <th class="text-end"><%= t('common.labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% # Pre-compute permission checks once before the loop %>
        <% can_view = current_user.can_view?("MaterialCertificate") %>
        <% can_edit = current_user.can_edit?("MaterialCertificate") %>
        <% can_delete = current_user.can_delete?("MaterialCertificate") %>
        
        <% @material_certificates.each do |certificate| %>
          <tr>
            <td><%= certificate.certificate_number %></td>
            <td><%= certificate.batch_number %></td>
            <td><%= certificate.description %></td>
            <td>
              <%# Find the relevant Docuvita document for this certificate %>
              <% docuvita_doc = certificate.docuvita_documents.detect { |doc| doc.document_type == 'material_certificate' } %>
              <% if docuvita_doc %>
                <%= link_to view_docuvita_document_path(docuvita_doc),
                    class: "text-decoration-none text-primary",
                    target: "_blank",
                    title: "View certificate #{docuvita_doc.filename} from Docuvita" do %>
                  <i class="bi bi-file-pdf text-danger"></i>
                <% end %>
              <% end %>
            </td>
            <td class="text-end">
              <% if can_view %>
                <%= link_to material_certificate_path(certificate), class: "btn btn-sm btn-outline-primary me-1" do %>
                  <i class="bi bi-eye"></i>
                <% end %>
              <% end %>
              
              <% if can_edit %>
                <%= link_to edit_material_certificate_path(certificate), class: "btn btn-sm btn-primary me-1" do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
              <% end %>
              
              <% if can_delete %>
                <%= button_tag type: 'button',
                    class: 'btn btn-sm btn-outline-danger',
                    title: t('common.buttons.delete'),
                    data: {
                      bs_toggle: "modal",
                      bs_target: "#deleteMaterialCertificateModal",
                      "certificate-id": certificate.id,
                      "certificate-number": certificate.certificate_number
                    } do %>
                  <i class="bi bi-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: 'delete_confirmation_modal',
           locals: {
             modal_id: 'deleteMaterialCertificateModal',
             controller_name: 'delete-material-certificate',
             model_name: 'material_certificate'
           } %>

<%= render 'pagy' %>