<div class="container-fluid">
  <%= render 'breadcrumb', breadcrumbs: [
    { text: t('navigation.menu.material_certificates.title'), path: material_certificates_path },
    { text: @material_certificate.certificate_number }
  ] %>

<div class="container mt-4 radius-7 white-bg">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2"><%= @material_certificate.certificate_number %></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <% if current_user.can_edit?("MaterialCertificate") %>
        <%= link_to edit_material_certificate_path(@material_certificate), class: "btn btn-sm btn-primary me-2" do %>
          <i class="bi bi-pencil"></i>
        <% end %>
      <% end %>
      
      <% if current_user.can_delete?("MaterialCertificate") %>
        <%= button_tag type: 'button',
            class: 'btn btn-sm btn-outline-danger',
            title: t('common.buttons.delete'),
            data: {
              bs_toggle: "modal",
              bs_target: "#deleteMaterialCertificateModal",
              "certificate-id": @material_certificate.id,
              "certificate-number": @material_certificate.certificate_number
            } do %>
          <i class="bi bi-trash"></i>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-12">
      <h5 class="border-bottom pb-2 mb-3"><%= t('.certificate_details') %></h5>
      <div class="row">
        <div class="col-md-6 mb-4">
          <dl class="row">
            <dt class="col-sm-4"><%= t('.certificate_number') %></dt>
            <dd class="col-sm-8"><%= @material_certificate.certificate_number %></dd>

            <dt class="col-sm-4"><%= t('.batch_number') %></dt>
            <dd class="col-sm-8"><%= @material_certificate.batch_number %></dd>

            <dt class="col-sm-4"><%= t('.line_id') %></dt>
            <dd class="col-sm-8"><%= @material_certificate.line_id %></dd>
          </dl>
        </div>

        <div class="col-md-6 mb-4">
          <dl class="row">
            <dt class="col-sm-4"><%= t('.issue_date') %></dt>
            <dd class="col-sm-8"><%= @material_certificate.issue_date.strftime("%d/%m/%Y %H:%M") if @material_certificate.issue_date %></dd>

            <dt class="col-sm-4"><%= t('.issuer') %></dt>
            <dd class="col-sm-8"><%= @material_certificate.issuer_name %></dd>

            <% if @material_certificate.description.present? %>
              <dt class="col-sm-4"><%= t('.description') %></dt>
              <dd class="col-sm-8"><%= @material_certificate.description %></dd>
            <% end %>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'application/docuvita_documents', locals: {
    documents: @material_certificate.material_certificates,
    title: t('.certificate_file')
  } %>

  <% if @material_certificate.isometries.any? %>
    <div class="row mb-4">
      <div class="col-12">
        <h5 class="border-bottom pb-2 mb-3"><%= t('.related_isometries') %></h5>
        <div class="table-responsive">
          <table class="table table-sm table-hover">
            <thead>
              <tr>
                <th><%= t('activerecord.attributes.isometry.line_id') %></th>
                <th><%= t('activerecord.attributes.isometry.project') %></th>
                <th class="text-end"><%= t('common.labels.actions') %></th>
              </tr>
            </thead>
            <tbody>
              <% @material_certificate.isometries.each do |isometry| %>
                <tr>
                  <td><%= isometry.line_id %></td>
                  <td><%= isometry.project.name %></td>
                  <td class="text-end">
                    <%= link_to project_isometry_path(isometry.project, isometry), class: "btn btn-sm btn-outline-primary" do %>
                      <i class="bi bi-eye"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= render partial: 'delete_confirmation_modal',
           locals: {
             modal_id: 'deleteMaterialCertificateModal',
             controller_name: 'delete-material-certificate',
             model_name: 'material_certificate'
           } %>
</div>