<!-- app/views/material_certificates/show.html.erb -->
<div class="container mt-4">
  <div class="card">
    <div class="card-header bg-primary text-white">
      <h2 class="mb-0">Certificate Details - <%= @material_certificate.certificate_number %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-4">Project:</dt>
            <dd class="col-sm-8"><%= @material_certificate.project.name %></dd>

            <dt class="col-sm-4">Certificate Number:</dt>
            <dd class="col-sm-8"><%= @material_certificate.certificate_number %></dd>

            <dt class="col-sm-4">Batch Number:</dt>
            <dd class="col-sm-8"><%= @material_certificate.batch_number %></dd>
          </dl>
        </div>
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-4">Issue Date:</dt>
            <dd class="col-sm-8"><%= @material_certificate.issue_date.strftime("%B %d, %Y") %></dd>

            <dt class="col-sm-4">Issuer:</dt>
            <dd class="col-sm-8"><%= @material_certificate.issuer_name %></dd>
          </dl>
        </div>
      </div>

      <div class="mt-4">
        <h4>Description</h4>
        <div class="card">
          <div class="card-body bg-light">
            <%= simple_format(@material_certificate.description) %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <%= link_to 'Edit', edit_material_certificate_path(@material_certificate), class: 'btn btn-primary' %>
        <%= link_to 'Back', material_certificates_path, class: 'btn btn-secondary' %>
        <%= link_to 'Download PDF', material_certificate_path(@material_certificate, format: :pdf), class: 'btn btn-info' %>
      </div>
    </div>
  </div>
</div>
