<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="mb-0"><%= t('.title') %></h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <p>
            <strong><%= t('.certificate_number') %>:</strong>
            <%= @material_certificate.certificate_number %>
          </p>
          <p>
            <strong><%= t('.batch_number') %>:</strong>
            <%= @material_certificate.batch_number %>
          </p>
          <p>
            <strong><%= t('.issue_date') %>:</strong>
            <%= l(@material_certificate.issue_date, format: :long) %>
          </p>
          <p>
            <strong><%= t('.issuer') %>:</strong>
            <%= @material_certificate.issuer_name %>
          </p>
        </div>
        <div class="col-md-6">
          <% if @material_certificate.certificate_file.attached? %>
            <p>
              <strong><%= t('.certificate') %>:</strong>
              <%= link_to t('.download'),
                  rails_blob_path(@material_certificate.certificate_file, disposition: "attachment"),
                  class: "btn btn-sm btn-primary" %>
            </p>
          <% end %>
          <% if @material_certificate.description.present? %>
            <p>
              <strong><%= t('.description') %>:</strong>
              <%= @material_certificate.description %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <%= link_to t('.back'),
            material_certificates_path,
            class: 'btn btn-secondary' %>
        <%= link_to t('.edit'),
            edit_material_certificate_path(@material_certificate),
            class: 'btn btn-primary' %>
        <%= link_to t('.delete'),
            material_certificate_path(@material_certificate),
            method: :delete,
            class: 'btn btn-danger',
            data: { confirm: t('.delete_confirm') } %>
      </div>
    </div>
  </div>
</div>