<div class="container">
  <div class="py-4">
    <h1 class="h2 mb-3"><%= t('dashboard.title') %></h1>
    <h2 class="h5 text-muted mb-3"><%= t('dashboard.subtitle') %></h2>
  </div>
  <div class="row g-4">
    <!-- Projects Card -->
    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-folder"></i> <%= t('navigation.menu.projects.title') %>
          </h5>
          <p class="card-text">
            <div class="h3 mb-2"><%= Project.count %></div>
            <%= t('common.labels.active_projects') %>
          </p>
          <div class="mt-3">
            <%= link_to projects_path, class: 'btn btn-outline-primary m-1 me-2' do %>
              <i class="bi bi-list"></i> <%= t('common.labels.overview') %>
            <% end %>
            <%= link_to new_project_path, class: 'btn btn-primary' do %>
              <i class="bi bi-plus"></i> <%= t('common.labels.new') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- Material Certificates Card -->
    <div class="col-md-6 col-lg-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-folder"></i> <%= t('navigation.menu.material_certificates.title') %>
          </h5>
          <p class="card-text">
            <div class="h3 mb-2"><%= MaterialCertificate.count %></div>
            <%= t('navigation.menu.material_certificates.total') %>
          </p>
          <div class="mt-3">
            <%= link_to material_certificates_path, class: 'btn btn-outline-primary m-1 me-2' do %>
              <i class="bi bi-list"></i> <%= t('common.labels.overview') %>
            <% end %>
            <%= link_to new_material_certificate_path, class: 'btn btn-primary' do %>
              <i class="bi bi-plus"></i> <%= t('common.labels.new') %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

</div>