<!-- app/views/inspection_defects/show.html.erb -->
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>
        <%= t('.title') %>
        <span class="badge <%= severity_badge_class(@inspection_defect.severity) %> float-end">
          <%= t("inspection_defects.severity.#{@inspection_defect.severity}") %>
        </span>
      </h2>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3"><%= t('.inspection_reference') %>:</dt>
        <dd class="col-sm-9"><%= @inspection_defect.quality_inspection.reference_number %></dd>

        <dt class="col-sm-3"><%= t('.description') %>:</dt>
        <dd class="col-sm-9"><%= @inspection_defect.description %></dd>

        <dt class="col-sm-3"><%= t('.corrective_action') %>:</dt>
        <dd class="col-sm-9"><%= @inspection_defect.corrective_action || t('.not_specified') %></dd>

        <dt class="col-sm-3"><%= t('.recorded_at') %>:</dt>
        <dd class="col-sm-9"><%= l(@inspection_defect.created_at, format: :long) %></dd>
      </dl>
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <%= link_to edit_inspection_defect_path(@inspection_defect),
                    class: 'btn btn-outline-primary',
                    title: t('inspection_defects.buttons.edit'),
                    data: { bs_toggle: 'tooltip' } do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to inspection_defects_path,
                    class: 'btn btn-outline-secondary',
                    title: t('inspection_defects.buttons.back'),
                    data: { bs_toggle: 'tooltip' } do %>
          <i class="bi bi-arrow-left"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>