<dl class="row">
  <dt class="col-sm-4"><%= t('.measurement_date') %></dt>
  <dd class="col-sm-8"><%= l(measurement.measurement_date, format: :long) if measurement.measurement_date %></dd>

  <dt class="col-sm-4"><%= t('.measured_value') %></dt>
  <dd class="col-sm-8"><%= measurement.measured_value %></dd>

  <% if measurement.measurement_parameters.present? %>
    <dt class="col-sm-4"><%= t('.parameters') %></dt>
    <dd class="col-sm-8"><%= measurement.measurement_parameters %></dd>
  <% end %>

  <% if measurement.notes.present? %>
    <dt class="col-sm-4"><%= t('.notes') %></dt>
    <dd class="col-sm-8"><%= measurement.notes %></dd>
  <% end %>

  <% if measurement.measurement_reports.attached? %>
  <dt class="col-sm-4"><%= t('.reports') %></dt>
    <dd class="col-sm-8">
      <div class="row g-2">
        <% measurement.measurement_reports.each_with_index do |report, index| %>
          <% if report.content_type.start_with?('image/') %>
            <div class="col-auto">
              <%= image_tag report.representation(resize_to_limit: [100, 100]),
                           class: "img-thumbnail cursor-pointer",
                           data: {
                             bs_toggle: "modal",
                             bs_target: "#imageModal#{index}"
                           } %>

              <!-- Modal for this image -->
              <div class="modal fade" id="imageModal<%= index %>" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><%= report.filename %></h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                      <%= image_tag report.representation(resize_to_limit: [800, 800]), class: "img-fluid" %>
                    </div>
                    <div class="modal-footer">
                      <%= link_to t('roughness_measurements.show.download'), rails_blob_path(report, disposition: "attachment"),
                          class: "btn btn-primary" %>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        <%= t('roughness_measurements.show.close') %>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% else %>
            <div class="col-auto">
              <%= link_to report.filename, rails_blob_path(report, disposition: "attachment"),
                         class: "btn btn-outline-secondary m-1 btn-sm" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </dd>
  <% end %>
</dl>