<!-- app/views/roughness_measurements/_form.html.erb -->
<%= form_with(model: [@delivery_item, @roughness_measurement], local: true) do |f| %>
  <% if @roughness_measurement.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@roughness_measurement.errors.count, "error") %> prohibited this measurement from being saved:</h4>
      <ul>
        <% @roughness_measurement.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :measurement_date %>
    <%= f.datetime_local_field :measurement_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :measured_value %>
    <%= f.number_field :measured_value, step: :any, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :measurement_parameters %>
    <%= f.text_area :measurement_parameters, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group mt-3">
    <%= f.submit class: 'btn btn-primary' %>
    <%= link_to 'Back', roughness_measurements_path, class: 'btn btn-secondary' %>
  </div>
<% end %>
