<!-- app/views/roughness_measurements/index.html.erb -->
<div class="container mt-4">
  <h1>Roughness Measurements</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Delivery Item</th>
        <th>Measurement Date</th>
        <th>Measured Value</th>
        <th>Parameters</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @roughness_measurements.each do |measurement| %>
        <tr>
          <td><%= link_to "Delivery Item ##{measurement.delivery_item.id}", delivery_item_path(measurement.delivery_item) %></td>
          <td><%= measurement.measurement_date.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= measurement.measured_value %></td>
          <td><%= measurement.measurement_parameters %></td>
          <td>
            <%= link_to 'View', delivery_item_path(measurement.delivery_item), class: 'btn btn-sm btn-info' %>
            <%= link_to 'Edit', edit_delivery_item_roughness_measurement_path(measurement.delivery_item), class: 'btn btn-sm btn-primary' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
