<!-- app/views/roughness_measurements/index.html.erb -->
<div class="container mt-4">
  <h1><%= t('.title') %></h1>

  <table class="table">
    <thead>
      <tr>
        <th><%= t('.delivery_item') %></th>
        <th><%= t('.measurement_date') %></th>
        <th><%= t('.measured_value') %></th>
        <th><%= t('.parameters') %></th>
        <th><%= t('.actions') %></th>
      </tr>
    </thead>
    <tbody>
      <% @roughness_measurements.each do |measurement| %>
        <tr>
          <td><%= link_to "Delivery Item ##{measurement.delivery_item.id}", delivery_item_path(measurement.delivery_item) %></td>
          <td><%= measurement.measurement_date.strftime("%Y-%m-%d %H:%M") %></td>
          <td><%= measurement.measured_value %></td>
          <td><%= measurement.measurement_parameters %></td>
          <td>
            <div class="btn-group btn-group-sm">
              <%= link_to delivery_item_path(measurement.delivery_item),
                         class: 'btn btn-outline-info',
                         title: t('roughness_measurements.buttons.view'),
                         data: { bs_toggle: 'tooltip' } do %>
                <i class="bi bi-eye"></i>
              <% end %>

              <%= link_to edit_delivery_item_roughness_measurement_path(measurement.delivery_item),
                         class: 'btn btn-outline-primary',
                         title: t('roughness_measurements.buttons.edit'),
                         data: { bs_toggle: 'tooltip' } do %>
                <i class="bi bi-pencil"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
