<!-- app/views/roughness_measurements/show.html.erb -->
<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2>Roughness Measurement Details</h2>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-3">Delivery Item:</dt>
        <dd class="col-sm-9"><%= @roughness_measurement.delivery_item.identifier %></dd>

        <dt class="col-sm-3">Measurement Date:</dt>
        <dd class="col-sm-9"><%= @roughness_measurement.measurement_date.strftime("%Y-%m-%d %H:%M") %></dd>

        <dt class="col-sm-3">Measured Value:</dt>
        <dd class="col-sm-9"><%= @roughness_measurement.measured_value %></dd>

        <dt class="col-sm-3">Parameters:</dt>
        <dd class="col-sm-9"><%= @roughness_measurement.measurement_parameters %></dd>

        <dt class="col-sm-3">Notes:</dt>
        <dd class="col-sm-9"><%= @roughness_measurement.notes %></dd>
      </dl>
    </div>
    <div class="card-footer">
      <%= link_to 'Edit', edit_roughness_measurement_path(@roughness_measurement), class: 'btn btn-primary' %>
      <%= link_to 'Back', roughness_measurements_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>