<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th><%= t('common.weldings.number') %></th>
        <th><%= t('common.weldings.component') %></th>
        <th><%= t('common.weldings.dimension') %></th>
        <th><%= t('common.weldings.material') %></th>
        <th><%= t('common.weldings.batch_number') %></th>
        <th><%= t('common.weldings.material_certificate') %></th>
        <th><%= t('common.weldings.wps') %></th>
        <th><%= t('common.weldings.process') %></th>
        <th><%= t('common.weldings.welder') %></th>
        <th><%= t('common.weldings.rt') %></th>
        <th><%= t('common.weldings.pt') %></th>
        <th><%= t('common.weldings.vt') %></th>
        <th><%= t('common.weldings.result') %></th>
      </tr>
    </thead>
    <tbody>
      <% weldings.each do |welding| %>
        <tr>
          <td><%= welding.number %></td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.component %></div>
              <div><%= welding.component1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.dimension %></div>
              <div><%= welding.dimension1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.material %></div>
              <div><%= welding.material1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.batch_number %></div>
              <div><%= welding.batch_number1 %></div>
            </div>
          </td>
          <td>
          <div class="d-flex flex-column">
            <div>
            <% if welding.material_certificate %>
              <% if welding.material_certificate&.certificate_file&.attached? %>
                <%= link_to rails_blob_path(welding.material_certificate.certificate_file, disposition: "inline"), target: "_blank", class: "text-decoration-none" do %>
                  <small class="bg-success text-white rounded p-1"><%= welding.material_certificate.certificate_number %></small>
                <% end %>
              <% else %>
                <small class="bg-secondary text-white rounded p-1"><%= welding.material_certificate&.certificate_number %></small>
              <% end %>
            <% end %>
            </div>
              <div>
                <% if welding.material_certificate1 %>
                  <% if welding.material_certificate1&.certificate_file&.attached? %>
                    <%= link_to rails_blob_path(welding.material_certificate1.certificate_file, disposition: "inline"), target: "_blank", class: "text-decoration-none" do %>
                      <small class="bg-success text-white rounded p-1"><%= welding.material_certificate1.certificate_number %></small>
                    <% end %>
                  <% else %>
                    <small class="bg-secondary text-white rounded p-1"><%= welding.material_certificate1&.certificate_number %></small>
                  <% end %>

                <% end %>                
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.wps %></div>
              <div><%= welding.wps1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.process %></div>
              <div><%= welding.process1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.welder %></div>
              <div><%= welding.welder1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.rt_date&.strftime("%d-%m-%Y") %></div>
              <div><%= welding.rt_date1&.strftime("%d-%m-%Y") %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.pt_date&.strftime("%d-%m-%Y") %></div>
              <div><%= welding.pt_date1&.strftime("%d-%m-%Y") %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.vt_date&.strftime("%d-%m-%Y") %></div>
              <div><%= welding.vt_date1&.strftime("%d-%m-%Y") %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.result %></div>
              <div><%= welding.result1 %></div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
