<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th><%= t('common.weldings.number') %></th>
        <th><%= t('common.weldings.component') %></th>
        <th><%= t('common.weldings.dimension') %></th>
        <th><%= t('common.weldings.material') %></th>
        <th><%= t('common.weldings.batch_number') %></th>
        <th><%= t('common.weldings.material_certificate') %></th>
        <th><%= t('common.weldings.wps') %></th>
        <th><%= t('common.weldings.process') %></th>
        <th><%= t('common.weldings.welder') %></th>
        <th><%= t('common.weldings.rt') %></th>
        <th><%= t('common.weldings.pt') %></th>
        <th><%= t('common.weldings.vt') %></th>
        <th><%= t('common.weldings.result') %></th>
      </tr>
    </thead>
    <tbody>
      <% weldings.each do |welding| %>
        <tr>
          <td><%= welding.number %></td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.component %></div>
              <div><%= welding.component1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.dimension %></div>
              <div><%= welding.dimension1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.material %></div>
              <div><%= welding.material1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.batch_number %></div>
              <div><%= welding.batch_number1 %></div>
            </div>
          </td>
          <td>
          <div class="d-flex flex-column">
            <div>
            <% if welding.material_certificate %>
              <%# Find the relevant Docuvita document for the welding's certificate %>
              <% docuvita_doc = welding.material_certificate.docuvita_documents.find { |doc| doc.document_type == 'material_certificate_pdf' } %>
              <% if docuvita_doc %>
                <%= link_to view_docuvita_document_path(docuvita_doc),
                          target: "_blank",
                          class: "text-decoration-none",
                          title: "View certificate #{docuvita_doc.filename} from Docuvita" do %>
                  <small class="bg-success text-white rounded p-1"><%= welding.material_certificate.certificate_number %></small>
                <% end %>
              <% else %>
                <%# Display number without link if no document found %>
                <small class="bg-secondary text-white rounded p-1" title="Certificate document not found in Docuvita"><%= welding.material_certificate.certificate_number %></small>
              <% end %>
            <% else %>
              <small><%= t('.no_certificate') %></small>
            <% end %>
            </div>
              <div>
                <% if welding.material_certificate1 %>
                  <%# Find the relevant Docuvita document for the welding's certificate %>
                  <% docuvita_doc = welding.material_certificate1.docuvita_documents.find { |doc| doc.document_type == 'material_certificate_pdf' } %>
                  <% if docuvita_doc %>
                    <%= link_to view_docuvita_document_path(docuvita_doc),
                              target: "_blank",
                              class: "text-decoration-none",
                              title: "View certificate #{docuvita_doc.filename} from Docuvita" do %>
                      <small class="bg-success text-white rounded p-1"><%= welding.material_certificate1.certificate_number %></small>
                    <% end %>
                  <% else %>
                    <%# Display number without link if no document found %>
                    <small class="bg-secondary text-white rounded p-1" title="Certificate document not found in Docuvita"><%= welding.material_certificate1.certificate_number %></small>
                  <% end %>
                <% else %>
                  <small><%= t('.no_certificate') %></small>
                <% end %>                
              </div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.wps %></div>
              <div><%= welding.wps1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.process %></div>
              <div><%= welding.process1 %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.welder %></div>
              <div><%= welding.welder1&.strftime("%Y-%m-%d") %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.rt_done_by %> <%= welding.rt_date1&.strftime("%Y-%m-%d") %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.pt_done_by %> <%= welding.pt_date1&.strftime("%Y-%m-%d") %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= welding.vt_done_by %> <%= welding.vt_date1&.strftime("%Y-%m-%d") %></div>
            </div>
          </td>
          <td>
            <div class="d-flex flex-column">
              <div><%= status_label(welding.result) %></div>
              <div><%= status_label(welding.result1) %></div>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
