<div class="nested-fields" data-new-record="<%= f.object.new_record? %>">
  <%= f.hidden_field :_destroy %>
  
  <div class="row g-3 mt-4">
    <div class="col-12"><hr><h5><%= t('common.weldings.first_set') %></h5></div>
    <div class="col-md-2">
      <%= f.label :number, class: "form-label" %>
      <%= f.text_field :number, class: "form-control" %>
    </div>
    
    <div class="col-md-2">
      <%= f.label :component, class: "form-label" %>
      <%= f.text_field :component, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :dimension, class: "form-label" %>
      <%= f.text_field :dimension, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :material, class: "form-label" %>
      <%= f.text_field :material, class: "form-control" %>
    </div>

    <div class="col-md-2" data-controller="welding-certificate-search" 
         data-welding-certificate-search-search-url-value="<%= search_material_certificates_path %>">
      <%= f.label :batch_number, class: "form-label" %>
      <div class="position-relative">
        <%= f.text_field :batch_number, class: "form-control",
            data: {
              welding_certificate_search_target: "batchNumber",
              action: "input->welding-certificate-search#search"
            } %>
        <%= f.hidden_field :material_certificate_id,
            data: { welding_certificate_search_target: "certificateId" } %>
        <div data-welding-certificate-search-target="searchResults" class="position-absolute w-100"></div>
      </div>
    </div>
    <div class="col-md-2">
      <%= f.label :wps, class: "form-label" %>
      <%= f.text_field :wps, class: "form-control" %>
    </div>

  </div>

  <div class="row g-3 mt-2">


    <div class="col-md-2">
      <%= f.label :process, class: "form-label" %>
      <%= f.select :process, Welding::PROCESS_TYPES, { include_blank: false }, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :welder, class: "form-label" %>
      <%= f.text_field :welder, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :rt_date, class: "form-label" %>
      <%= f.date_field :rt_date, class: "form-control", value: f.object.rt_date || (f.object.new_record? ? Date.current : nil) %>
    </div>

    <div class="col-md-2">
      <%= f.label :pt_date, class: "form-label" %>
      <%= f.date_field :pt_date, class: "form-control", value: f.object.pt_date || (f.object.new_record? ? Date.current : nil) %>
    </div>

    <div class="col-md-2">
      <%= f.label :vt_date, class: "form-label" %>
      <%= f.date_field :vt_date, class: "form-control", value: f.object.vt_date || (f.object.new_record? ? Date.current : nil) %>
    </div>
    <div class="col-md-2">
      <%= f.label :result, class: "form-label" %>
      <%= f.select :result, Welding::RESULT_TYPES, { include_blank: false }, class: "form-control" %>
    </div>
  </div>

  <%# Second Set of Controls %>
  <div class="row g-3 mt-4">
    <div class="col-12"><hr><h5><%= t('common.weldings.second_set') %></h5></div>
    <div class="col-md-2">
      <%= f.label :component1, class: "form-label" %>
      <%= f.text_field :component1, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :dimension1, class: "form-label" %>
      <%= f.text_field :dimension1, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :material1, class: "form-label" %>
      <%= f.text_field :material1, class: "form-control" %>
    </div>

    <div class="col-md-2" data-controller="welding-certificate-search" 
         data-welding-certificate-search-search-url-value="<%= search_material_certificates_path %>">
      <%= f.label :batch_number1, class: "form-label" %>
      <div class="position-relative">
        <%= f.text_field :batch_number1, class: "form-control",
            data: {
              welding_certificate_search_target: "batchNumber",
              action: "input->welding-certificate-search#search"
            } %>
        <%= f.hidden_field :material_certificate1_id,
            data: { welding_certificate_search_target: "certificateId" } %>
        <div data-welding-certificate-search-target="searchResults" class="position-absolute w-100"></div>
      </div>
    </div>

    <div class="col-md-2">
      <%= f.label :wps1, class: "form-label" %>
      <%= f.text_field :wps1, class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 mt-2">


    <div class="col-md-2">
      <%= f.label :process1, class: "form-label" %>
      <%= f.select :process1, Welding::PROCESS_TYPES, { include_blank: false }, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :welder1, class: "form-label" %>
      <%= f.text_field :welder1, class: "form-control" %>
    </div>

    <div class="col-md-2">
      <%= f.label :rt_date1, class: "form-label" %>
      <%= f.date_field :rt_date1, class: "form-control", value: f.object.rt_date1 || (f.object.new_record? ? Date.current : nil) %>
    </div>

    <div class="col-md-2">
      <%= f.label :pt_date1, class: "form-label" %>
      <%= f.date_field :pt_date1, class: "form-control", value: f.object.pt_date1 || (f.object.new_record? ? Date.current : nil) %>
    </div>

    <div class="col-md-2">
      <%= f.label :vt_date1, class: "form-label" %>
      <%= f.date_field :vt_date1, class: "form-control", value: f.object.vt_date1 || (f.object.new_record? ? Date.current : nil) %>
    </div>
    <div class="col-md-2">
      <%= f.label :result1, class: "form-label" %>
      <%= f.select :result1, Welding::RESULT_TYPES, { include_blank: false }, class: "form-control" %>
    </div>
  </div>

  <div class="row g-3 mt-2">
    <div class="col-md-2 d-flex align-items-end">
      <%= link_to t('common.remove'), '#', 
          class: "btn btn-danger",
          data: { action: "click->nested-form#remove" } %>
    </div>
  </div>
</div>
