<%= form_with(
      model: [@project, @work_preparation],
      local: true,
      class: 'needs-validation',
      id: 'work_preparation_form',
      data: { 
        turbo: true,
        controller: "validation"
      }
    ) do |f| %>
  <% if @work_preparation.errors.any? %>
    <div class="alert alert-danger">
      <h6><%= t('.errors.header', count: @work_preparation.errors.count) %></h6>
      <ul>
        <% @work_preparation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :isometry_id if @isometry %>

<%= render "isometry_details", isometry: @isometry %>


  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <%= f.label t('activerecord.attributes.work_preparation.work_location'), for: :work_location_id, class: 'form-label' %>
        <%= f.collection_select :work_location_id,
                              WorkLocation.all,
                              :id,
                              ->(wl) { wl.location_type ? t("work_locations.types.#{wl.location_type}") : "" },
                              { prompt: t('common.labels.select'), include_blank: false },
                              { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= f.label t('activerecord.attributes.work_preparation.work_preparation_type'), for: :work_preparation_type, class: 'form-label' %>
        <%= f.select :work_preparation_type,
                    WorkPreparation::WORK_PREPARATION_TYPES.map { |type| [t("work_preparations.types.#{type}"), type] },
                    { prompt: t('common.labels.select'), include_blank: false },
                    class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :work_package_number, class: 'form-label' %>
        <div class="input-group" 
             data-controller="work-package-search"
             data-work-package-search-url-value="<%= search_work_packages_project_isometries_path(@project, format: :json) %>"
             data-work-package-search-min-length-value="2">
          <%= f.text_field :work_package_number, 
                          class: 'form-control',
                          data: {
                            work_package_search_target: "input",
                            action: "input->work-package-search#search click@window->work-package-search#clickOutside"
                          } %>
          <div class="dropdown-menu w-100" data-work-package-search-target="results"></div>
        </div>
      </div>

      <div class="mb-3">
        <%= f.label :batch_number, class: 'form-label' %>
        <div class="input-group" 
             data-controller="batch-number-search"
             data-batch-number-search-url-value="<%= search_batch_numbers_project_isometries_path(@project, format: :json) %>"
             data-batch-number-search-min-length-value="2">
          <%= f.text_field :batch_number, 
                          class: 'form-control',
                          data: {
                            batch_number_search_target: "input",
                            action: "input->batch-number-search#search click@window->batch-number-search#clickOutside"
                          } %>
          <div class="dropdown-menu w-100" data-batch-number-search-target="results"></div>
        </div>
      </div>

      <div class="mb-3">
        <% if @work_preparation.persisted? && @work_preparation.completed? %>

            <%= f.label :completed, class: 'form-label' %>
            <%= f.text_field :completed, 
                            value: (@work_preparation.completed ? l(@work_preparation.completed, format: :long) : nil),
                            class: 'form-control', 
                            disabled: true %>
          <% end %>

        </div>
        <div class="mb-3">
          <% if @work_preparation.persisted? && @work_preparation.completed.nil? && !@work_preparation.on_hold? %>
            <%= link_to complete_project_work_preparation_path(@project, @work_preparation),
                      method: :patch,
                      class: 'btn btn-success',
                      data: { 
                        turbo_method: :patch,
                        turbo_confirm: t('common.messages.confirm_complete') 
                      } do %>
              <i class="bi bi-check-circle"></i> <%= t('common.actions.complete') %>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-md-8">
      <%= render 'application/hold_fields', f: f, delete_path: ->(image) { 
        delete_image_project_work_preparation_path(@project, @work_preparation, image_id: image) 
      } %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <%= link_to t('common.labels.back'), project_work_preparations_path(@project), class: 'btn btn-outline-secondary' %>
        <%= f.submit t("common.actions.save"), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>