<%= form_with(
      model: [@project, @work_preparation],
      local: true,
      class: 'needs-validation',
      id: 'work_preparation_form',
      data: { 
        turbo: true,
        controller: "validation form-changes",
        form_changes_target: "form",
        action: "change->form-changes#checkFormChanges input->form-changes#checkFormChanges"
      }
    ) do |f| %>
  <% if @work_preparation.errors.any? %>
    <div class="alert alert-danger">
      <h6><%= t('.errors.header', count: @work_preparation.errors.count) %></h6>
      <ul>
        <% @work_preparation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.hidden_field :isometry_id, value: @isometry&.id %>

  <div class="row">
    <div class="col-md-4">
      <div class="mb-3">
        <%= f.label t('activerecord.attributes.work_preparation.work_location'), for: :work_location_id, class: 'form-label' %>
        <%= f.collection_select :work_location_id,
                              WorkLocation.all,
                              :id,
                              ->(wl) { wl.location_type ? t("work_locations.types.#{wl.location_type}") : "" },
                              { prompt: t('common.labels.select'), include_blank: false },
                              { class: "form-control" } %>
      </div>

      <div class="mb-3">
        <%= f.label t('activerecord.attributes.work_preparation.work_preparation_type'), for: :work_preparation_type, class: 'form-label' %>
        <%= f.select :work_preparation_type,
                    WorkPreparation::WORK_PREPARATION_TYPES.map { |type| [t("work_preparations.types.#{type}"), type] },
                    { prompt: t('common.labels.select'), include_blank: false },
                    class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :work_package_number, class: 'form-label' %>
        <div class="input-group" 
             data-controller="work-package-search"
             data-work-package-search-url-value="<%= search_work_packages_project_isometries_path(@project, format: :json) %>"
             data-work-package-search-min-length-value="2">
          <%= f.text_field :work_package_number, 
                          class: 'form-control',
                          data: {
                            work_package_search_target: "input",
                            action: "input->work-package-search#search click@window->work-package-search#clickOutside"
                          } %>
          <div class="dropdown-menu w-100" data-work-package-search-target="results"></div>
        </div>
      </div>

      <div class="mb-3">
        <% if @work_preparation.persisted? && @work_preparation.completed? %>

            <%= f.label :completed, class: 'form-label' %>
            <%= f.text_field :completed, 
                            value: (@work_preparation.completed ? l(@work_preparation.completed, format: :long) : nil),
                            class: 'form-control', 
                            disabled: true %>
          <% end %>

        </div>
    </div>
    <div class="col-md-8">
      <%= render "isometry_details", isometry: @isometry %>
      
      <% if @isometry&.weldings&.any? %>
        <div class="card mb-3" data-controller="nested-weldings">
          
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-4">
              <h5 class="mb-0"><%= t('activerecord.models.weldings') %></h5>
              <button type="button" class="btn btn-primary btn-sm" data-action="nested-weldings#addWelding">
                <i class="bi bi-plus"></i> <%= t('common.actions.add') %>
              </button>
            </div>
            <template data-nested-weldings-target="template">
              <%= render 'welding_fields' %>
            </template>

            <div data-nested-weldings-target="container">
              <div class="row">
                <div class="col-md-4">
                  <label class="form-label"><%= t('common.weldings.welding_number') %></label>
                </div>
                <div class="col-md-4">
                  <label class="form-label"><%= t('common.weldings.batch_number') %></label>
                </div>
                <div class="col-md-4">
                  <label class="form-label"><%= t('common.weldings.batch_number1') %> 1</label>
                </div>
              </div>

              <% if @work_preparation.persisted? %>
                <% @weldings.each do |welding| %>
                  <div class="nested-welding-fields row mb-3">
                    <div class="col-md-4">
                      <%= select_tag "weldings[][id]", 
                          options_from_collection_for_select(@isometry.weldings, :id, :number, welding[:id]),
                          include_blank: true,
                          class: 'form-select',
                          data: {
                            action: "change->welding-certificate-search#updateFromWelding"
                          }
                      %>
                    </div>

                    <div class="col-md-4" data-controller="welding-certificate-search"
                         data-welding-certificate-search-search-url-value="<%= search_material_certificates_path %>"
                         data-welding-certificate-search-field-value="batch_number">
                      <div class="position-relative">
                        <%= text_field_tag "weldings[][batch_number]", welding[:batch_number],
                            class: "form-control mb-3",
                            placeholder: t('common.weldings.batch_number'),
                            data: {
                              welding_certificate_search_target: "batchNumber",
                              field: "batch_number",
                              action: "input->welding-certificate-search#search"
                            } %>
                        <%= hidden_field_tag "weldings[][material_certificate_id]", welding[:material_certificate_id],
                            data: { 
                              welding_certificate_search_target: "certificateId",
                              field: "batch_number"
                            } %>
                        <div data-welding-certificate-search-target="searchResults" class="position-absolute w-100 z-1000"></div>
                      </div>
                    </div>

                    <div class="col-md-4" data-controller="welding-certificate-search"
                         data-welding-certificate-search-search-url-value="<%= search_material_certificates_path %>"
                         data-welding-certificate-search-field-value="batch_number1">
                      <div class="position-relative">
                        <%= text_field_tag "weldings[][batch_number1]", welding[:batch_number1],
                            class: "form-control mb-3",
                            placeholder: t('common.weldings.batch_number1'),
                            data: {
                              welding_certificate_search_target: "batchNumber",
                              field: "batch_number1",
                              action: "input->welding-certificate-search#search"
                            } %>
                        <%= hidden_field_tag "weldings[][material_certificate1_id]", welding[:material_certificate1_id],
                            data: { 
                              welding_certificate_search_target: "certificateId",
                              field: "batch_number1"
                            } %>
                        <div data-welding-certificate-search-target="searchResults" class="position-absolute w-100 z-1000"></div>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <%= render 'application/hold_fields', f: f, delete_path: ->(image) { 
        delete_image_project_work_preparation_path(@project, @work_preparation, image_id: image) 
      } %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <%= link_to t('common.labels.back'), project_work_preparations_path(@project), class: 'btn btn-primary' %>
          <% if @work_preparation.persisted? && @work_preparation.completed.nil? && !@work_preparation.on_hold? %>
            <%= link_to complete_project_work_preparation_path(@project, @work_preparation),
                      method: :patch,
                      class: 'btn btn-success',
                      data: { 
                        turbo_method: :patch,
                        turbo_confirm: t('common.messages.confirm_complete'),
                        form_changes_target: "completeButton"
                      } do %>
              <i class="bi bi-check-circle"></i> <%= t('common.actions.complete') %>
            <% end %>
          <% end %>
        <%= f.submit t("common.actions.save"), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
