<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.work_preparations.title'),
    path: project_work_preparations_path(@project) }
] %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white"><%= t('.title_for_project', project: @project.name) %></h1>
  </div>

  <div class="row mb-4">
    <div class="col-md-8">
      <%= form_tag project_work_preparations_path(@project), method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
                            class: 'form-control',
                            placeholder: t('common.labels.search_placeholder') %>
          <div class="input-group-append">
            <%= submit_tag t('common.labels.search_button'), class: 'btn btn-primary m-1' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.isometry.line_id') %></th>
          <th><%= t('activerecord.attributes.isometry.page_number') %></th>
          <th><%= t('activerecord.attributes.isometry.revision_number') %></th>
          <th>
            <%= link_to t('activerecord.attributes.work_preparation.work_location'),
                request.params.merge(sort: 'work_location_id', direction: (params[:sort] == 'work_location_id' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_location_id') if params[:sort] == 'work_location_id' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.work_preparation.work_package_number'),
                request.params.merge(sort: 'work_package_number', direction: (params[:sort] == 'work_package_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_package_number') if params[:sort] == 'work_package_number' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.work_preparation.work_preparation_type'),
                request.params.merge(sort: 'work_preparation_type', direction: (params[:sort] == 'work_preparation_type' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_preparation_type') if params[:sort] == 'work_preparation_type' %>
          </th>

          <th>
            <%= link_to t('activerecord.attributes.work_preparation.on_hold_status'),
                request.params.merge(sort: 'on_hold_status', direction: (params[:sort] == 'on_hold_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('on_hold_status') if params[:sort] == 'on_hold_status' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.work_preparation.completed'),
                request.params.merge(sort: 'completed', direction: (params[:sort] == 'completed' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('completed') if params[:sort] == 'completed' %>
          </th>
          <th><%= t('common.labels.created_by') %></th>
          <th class="text-end"><%= t('common.labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @work_preparations.each do |work_preparation| %>
          <tr>
            <td><%= link_to work_preparation.isometry.line_id, project_isometry_path(@project, work_preparation.isometry) %></td>
            <td><%= work_preparation.isometry.page_number %></td>
            <td><%= revision_status_label(work_preparation.isometry) %></td>
            <td><%= t("work_locations.types.#{work_preparation.work_location.location_type}") %></td>
            <td><%= work_preparation.work_package_number %></td>
            <td><%= work_preparation_type_label(work_preparation) %></td>
            <td><%= status_label(work_preparation.on_hold_status) %></td>
            <td><%= l(work_preparation.completed, format: :short) if work_preparation.completed %></td>
            <td><%= work_preparation.user.name %></td>
            <td class="text-end">
              <% if current_user.can_view?("WorkPreparation") %>
                <%= link_to project_work_preparation_path(@project, work_preparation), class: 'btn btn-sm btn-outline-primary' do %>
                  <i class="bi bi-eye"></i>
                <% end %>
              <% end %>
              <% if current_user.can_edit?("WorkPreparation") %>
                <%= link_to edit_project_work_preparation_path(@project, work_preparation), class: 'btn btn-sm btn-primary' do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
              <% end %>
              <% if current_user.can_delete?("WorkPreparation") %>
                  <%= button_tag type: 'button',
                             class: 'btn btn-outline-danger m-1',
                             title: t('common.buttons.delete'),
                             data: {
                               bs_toggle: "modal",
                               bs_target: "#deleteWorkPreparationModal",
                               "project-id": work_preparation.project.id,
                               "work-preparation-id": work_preparation.id,
                               "work-preparation-name": work_preparation.work_package_number,
                               "work-preparation-number": work_preparation.work_package_number
                             } do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: 'delete_confirmation_modal', 
           locals: {
             modal_id: 'deleteWorkPreparationModal',
             controller_name: 'delete-work-preparation',
             model_name: 'work_preparation'
           } %>

<%= render 'pagy' %>               