<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.final_inspections'),
    path: project_final_inspections_path(@project) }
] %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= t('.title_for_project', project: @project.name) %></h1>
  </div>

  <div class="row mb-4">
    <div class="col-md-8">
      <%= form_tag project_final_inspections_path(@project), method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
                            class: 'form-control',
                            placeholder: t('common.labels.search_placeholder') %>
          <div class="input-group-append">
            <%= submit_tag t('common.labels.search_button'), class: 'btn btn-outline-secondary m-1' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 text-end">
      <%= link_to new_project_final_inspection_path(@project), class: 'btn btn-primary' do %>
        <i class="bi bi-plus"></i> <%= t('common.buttons.new') %>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>
            <%= link_to t('activerecord.attributes.final_inspection.work_location'),
                request.params.merge(sort: 'work_location_id', direction: (params[:sort] == 'work_location_id' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_location_id') if params[:sort] == 'work_location_id' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.final_inspection.work_package_number'),
                request.params.merge(sort: 'work_package_number', direction: (params[:sort] == 'work_package_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_package_number') if params[:sort] == 'work_package_number' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.final_inspection.visual_check_status'),
                request.params.merge(sort: 'visual_check_status', direction: (params[:sort] == 'visual_check_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('visual_check_status') if params[:sort] == 'visual_check_status' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.final_inspection.vt2_check_status'),
                request.params.merge(sort: 'vt2_check_status', direction: (params[:sort] == 'vt2_check_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('vt2_check_status') if params[:sort] == 'vt2_check_status' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.final_inspection.on_hold_status'),
                request.params.merge(sort: 'on_hold_status', direction: (params[:sort] == 'on_hold_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('on_hold_status') if params[:sort] == 'on_hold_status' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.final_inspection.completed'),
                request.params.merge(sort: 'completed', direction: (params[:sort] == 'completed' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('completed') if params[:sort] == 'completed' %>
          </th>
          <th><%= t('common.labels.created_by') %></th>
          <th class="text-end"><%= t('common.labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @final_inspections.each do |final_inspection| %>
          <tr>
            <td><%= t("work_locations.types.#{final_inspection.work_location.location_type}") if final_inspection.work_location %></td>
            <td><%= final_inspection.work_package_number %></td>
            <td><%= final_inspection.visual_check_status %></td>
            <td><%= final_inspection.vt2_check_status %></td>
            <td><%= status_label(final_inspection.on_hold_status) %></td>
            <td><%= l(final_inspection.completed, format: :short) if final_inspection.completed %></td>
            <td><%= final_inspection.user.name %></td>
            <td class="text-end">
              <% if current_user.can_view?("FinalInspection") %>
                <%= link_to project_final_inspection_path(@project, final_inspection), class: 'btn btn-sm btn-outline-primary' do %>
                  <i class="bi bi-eye"></i>
                <% end %>
              <% end %>
              <% if current_user.can_edit?("FinalInspection") %>
                <%= link_to edit_project_final_inspection_path(@project, final_inspection), class: 'btn btn-sm btn-outline-secondary' do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
              <% end %>
              <% if current_user.can_delete?("FinalInspection") %>
                  <%= button_tag type: 'button',
                             class: 'btn btn-outline-danger m-1',
                             title: t('common.buttons.delete'),
                             data: {
                               bs_toggle: "modal",
                               bs_target: "#deleteFinalInspectionModal",
                               "project-id": final_inspection.project.id,
                               "final_inspection-id": final_inspection.id,
                               "final_inspection-name": final_inspection.work_package_number,
                               "final_inspection-number": final_inspection.work_package_number
                             } do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: 'delete_confirmation_modal', 
           locals: {
             modal_id: 'deleteFinalInspectionModal',
             controller_name: 'delete-final_inspection',
             model_name: 'final_inspection'
           } %>