<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.final_inspections'),
    path: project_final_inspections_path(@project) },
  { text: @final_inspection.work_package_number }
] %>

<div class="container mt-4">
    <div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0"><i class="bi bi-diagram-2"></i> <%= t('activerecord.models.isometry') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.line_id') %></dt>
            <dd class="col-sm-6"><%=link_to @final_inspection.isometry&.line_id, project_isometry_path(@project, @final_inspection.isometry) %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.page_number') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.isometry.page_number %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.revision_number') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.isometry.revision_number %></dd>

          </dl>
        </div>

        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.pid_number') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.isometry.pid_number %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.material') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.isometry.material %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.system') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.isometry.system %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><%= t('.title', work_package: @final_inspection.work_package_number) %></h2>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.work_package_number') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.work_package_number %></dd>


            <dt class="col-sm-6"><%= t('common.labels.created_by') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.user.name %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.completed') %></dt>
            <dd class="col-sm-6"><%= l(@final_inspection.completed, format: :long) if @final_inspection.completed %></dd>
          </dl>
        </div>

        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.on_hold_status') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.on_hold_status %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.on_hold_date') %></dt>
            <dd class="col-sm-6"><%= l(@final_inspection.on_hold_date, format: :long) if @final_inspection.on_hold_date %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.on_hold_comment') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.on_hold_comment %></dd>

            <%= render partial: 'application/image_gallery', locals: { images: @final_inspection.on_hold_images } %>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.visual_check_status') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.visual_check_status %></dd>
            
            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.visual_check_comment') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.visual_check_comment %></dd>

            <%= render partial: 'application/image_gallery', locals: { images: @final_inspection.visual_check_images } %>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.vt2_check_status') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.vt2_check_status %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.vt2_check_comment') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.vt2_check_comment %></dd>
            
            <%= render partial: 'application/image_gallery', locals: { images: @final_inspection.vt2_check_images } %>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.pt2_check_status') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.pt2_check_status %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.pt2_check_comment') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.pt2_check_comment %></dd>

            <%= render partial: 'application/image_gallery', locals: { images: @final_inspection.pt2_check_images } %>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.rt_check_status') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.rt_check_status %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.final_inspection.rt_check_comment') %></dt>
            <dd class="col-sm-6"><%= @final_inspection.rt_check_comment %></dd>

            <%= render partial: 'application/image_gallery', locals: { images: @final_inspection.rt_check_images } %>

          </dl>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <%= link_to t('common.labels.back'), project_final_inspections_path(@project), class: 'btn btn-outline-secondary' %>

        <% if current_user.can_edit?("FinalInspection") %>
          <%= link_to edit_project_final_inspection_path(@project, @final_inspection), class: 'btn btn-outline-primary' do %>
            <i class="bi bi-pencil"></i> <%= t('common.labels.edit') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
