<%= form_with(model: [@project, @incoming_delivery, @delivery_item].compact,
              local: true,
              class: 'needs-validation') do |f| %>
  <% if @delivery_item.errors.any? %>
    <div class="alert alert-danger">
      <h6><%= t('delivery_items.form.errors.header', count: @delivery_item.errors.count) %></h6><ul>
        <% @delivery_item.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :delivery_note_position, t('activerecord.attributes.delivery_item.delivery_note_position'), class: 'form-label' %>
        <%= f.text_field :delivery_note_position, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :tag_number, t('activerecord.attributes.delivery_item.tag_number'), class: 'form-label' %>
        <%= f.text_field :tag_number, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :batch_number, t('activerecord.attributes.delivery_item.batch_number'), class: 'form-label' %>
        <%= f.text_field :batch_number, class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="mb-3">
        <%= f.label :item_description, t('activerecord.attributes.delivery_item.item_description'), class: 'form-label' %>
        <%= f.text_area :item_description, class: 'form-control', rows: 3 %>
      </div>
      <div class="mb-3">
        <%= f.label :target_quantity, t('activerecord.attributes.delivery_item.target_quantity'), class: 'form-label' %>
        <%= f.number_field :target_quantity, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= f.label :actual_quantity, t('activerecord.attributes.delivery_item.actual_quantity'), class: 'form-label' %>
        <%= f.number_field :actual_quantity, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="my-5"><%= t('.quality_control') %></h3>

    <div class="col-md-6">
      <!-- Quantity Check -->
      <div class="mb-5">
        <%= f.label :quantity_check_status, t('activerecord.attributes.delivery_item.quantity_check'), class: 'form-label' %>
        <div class="row">
          <div class="col-md-6">
            <%= f.select :quantity_check_status,
                        DeliveryItem::CHECK_STATUSES,
                        { include_blank: false },
                        class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.file_field :quantity_check_images, multiple: true, class: 'form-control' %>
          </div>
        </div>
        <%= f.text_area :quantity_check_comment, class: 'form-control mt-2', rows: 2,
            placeholder: t('activerecord.attributes.delivery_item.quantity_check_comment') %>
      </div>

      <!-- Dimension Check -->
      <div class="mb-5">
        <%= f.label :dimension_check_status, t('activerecord.attributes.delivery_item.dimension_check'), class: 'form-label' %>
        <div class="row">
          <div class="col-md-6">
            <%= f.select :dimension_check_status,
                        DeliveryItem::CHECK_STATUSES,
                        { include_blank: false },
                        class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.file_field :dimension_check_images, multiple: true, class: 'form-control' %>
          </div>
        </div>
        <%= f.text_area :dimension_check_comment, class: 'form-control mt-2', rows: 2,
            placeholder: t('activerecord.attributes.delivery_item.dimension_check_comment') %>
      </div>

      <!-- Visual Check -->
      <div class="mb-5">
        <%= f.label :visual_check_status, t('activerecord.attributes.delivery_item.visual_check'), class: 'form-label' %>
        <div class="row">
          <div class="col-md-6">
            <%= f.select :visual_check_status,
                        DeliveryItem::VISUAL_STATUSES,
                        { include_blank: false },
                        class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.file_field :visual_check_images, multiple: true, class: 'form-control' %>
          </div>
        </div>
        <%= f.text_area :visual_check_comment, class: 'form-control mt-2', rows: 2,
            placeholder: t('activerecord.attributes.delivery_item.visual_check_comment') %>
      </div>

    </div>

    <div class="col-md-6">
      <!-- VT2 Check -->
      <div class="mb-5">
        <%= f.label :vt2_check_status, t('activerecord.attributes.delivery_item.vt2_check'), class: 'form-label' %>
        <div class="row">
          <div class="col-md-6">
            <%= f.select :vt2_check_status,
                        DeliveryItem::CHECK_STATUSES,
                        { include_blank: false },
                        class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.file_field :vt2_check_images, multiple: true, class: 'form-control' %>
          </div>
        </div>
        <%= f.text_area :vt2_check_comment, class: 'form-control mt-2', rows: 2,
            placeholder: t('activerecord.attributes.delivery_item.vt2_check_comment') %>
      </div>

      <!-- Ra Check -->
      <div class="mb-5">
        <%= f.label :ra_check_status, t('activerecord.attributes.delivery_item.ra_check'), class: 'form-label' %>
        <div class="row">
          <div class="col-md-6">
            <%= f.select :ra_check_status,
                        DeliveryItem::CHECK_STATUSES,
                        { include_blank: false },
                        class: 'form-control' %>
          </div>
          <div class="col-md-6">
            <%= f.file_field :ra_check_images, multiple: true, class: 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <%= f.label :ra_date, t('activerecord.attributes.delivery_item.ra_date'), class: 'form-label' %>
            <%= f.date_field :ra_date, class: 'form-control', value: Date.current %>
          </div>
          <div class="col-md-4">
            <%= f.label :ra_parameters, t('activerecord.attributes.delivery_item.ra_parameters'), class: 'form-label' %>
            <%= f.text_field :ra_parameters, class: 'form-control' %>
          </div>
          <div class="col-md-4">
            <%= f.label :ra_value, t('activerecord.attributes.delivery_item.ra_value'), class: 'form-label' %>
            <%= f.text_field :ra_value, class: 'form-control' %>
          </div>
        </div>
        <%= f.text_area :ra_check_comment, class: 'form-control mt-2', rows: 2,
            placeholder: t('activerecord.attributes.delivery_item.ra_check_comment') %>
      </div>

      <%= render 'hold_fields', f: f %>


      <div class="mb-3">
        <%= f.label :completed, t('common.completed'), class: 'form-label' %>
        <%= @delivery_item.completed? ? t('common.yes') : t('common.no') %>
      </div>

      <div class="d-flex justify-content-between align-items-center my-5">
        <%= link_to t('common.cancel'), :back, class: 'btn btn-secondary' %>
        <% unless @delivery_item.new_record? || @delivery_item.completed? || @delivery_item.on_hold? %>
          <%= f.submit t('common.complete'),
                      name: 'complete_delivery_item',
                      class: 'btn btn-success' %>
        <% end %>
        <%= f.submit t('common.save'), class: 'btn btn-primary' %>

      </div>
    </div>
  </div>

<% end %>
