<%# app/views/delivery_items/_table.html.erb %>
<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>TAG Number</th>
        <th>Batch Number</th>
        <th>Quantity</th>
        <th>Description</th>
        <th>Inspections</th>
        <th>Ra Measurement</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% delivery_items.each do |item| %>
        <tr>
          <td><%= item.tag_number %></td>
          <td><%= item.batch_number %></td>
          <td><%= item.quantity_received %></td>
          <td><%= item.item_description %></td>
          <td>
            <%= item.quality_inspections.count %> performed
            <% if item.quality_inspections.any? %>
              (<%= item.quality_inspections.where(status: 'passed').count %> passed)
            <% end %>
          </td>
          <td>
            <% if item.roughness_measurement %>
              <%= number_with_precision(item.roughness_measurement.measured_value, precision: 2) %>
            <% else %>
              Not measured
            <% end %>
          </td>
          <td class="text-end">
            <%= link_to 'View', delivery_item_path(item), class: 'btn btn-sm btn-info' %>
            <%= link_to 'Edit', edit_delivery_item_path(item), class: 'btn btn-sm btn-primary' %>
            <%= button_to 'Delete', delivery_item_path(item),
                method: :delete,
                class: 'btn btn-sm btn-danger',
                form: { style: 'display: inline' },
                data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


