<div class="table-responsive">
  <table class="table table-striped table-hover table-sm">
    <thead>
      <tr>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.delivery_note_position'),
              request.params.merge(sort: 'delivery_note_position', direction: (params[:sort] == 'delivery_note_position' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('delivery_note_position') if params[:sort] == 'delivery_note_position' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.tag_number'),
              request.params.merge(sort: 'tag_number', direction: (params[:sort] == 'tag_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('tag_number') if params[:sort] == 'tag_number' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.batch_number'),
              request.params.merge(sort: 'batch_number', direction: (params[:sort] == 'batch_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('batch_number') if params[:sort] == 'batch_number' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.description'),
              request.params.merge(sort: 'item_description', direction: (params[:sort] == 'item_description' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('item_description') if params[:sort] == 'item_description' %>
        </th>
        <th>
          <%= link_to t('common.completed'),
              request.params.merge(sort: 'completed', direction: (params[:sort] == 'completed' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('completed') if params[:sort] == 'completed' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.on_hold_status'),
              request.params.merge(sort: 'on_hold_status', direction: (params[:sort] == 'on_hold_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('on_hold_status') if params[:sort] == 'on_hold_status' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.quantity_check'),
              request.params.merge(sort: 'quantity_check_status', direction: (params[:sort] == 'quantity_check_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('quantity_check_status') if params[:sort] == 'quantity_check_status' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.dimension_check'),
              request.params.merge(sort: 'dimension_check_status', direction: (params[:sort] == 'dimension_check_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('dimension_check_status') if params[:sort] == 'dimension_check_status' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.visual_check'),
              request.params.merge(sort: 'visual_check_status', direction: (params[:sort] == 'visual_check_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('visual_check_status') if params[:sort] == 'visual_check_status' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.vt2_check'),
              request.params.merge(sort: 'vt2_check_status', direction: (params[:sort] == 'vt2_check_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('vt2_check_status') if params[:sort] == 'vt2_check_status' %>
        </th>
        <th>
          <%= link_to t('activerecord.attributes.delivery_item.ra_check'),
              request.params.merge(sort: 'ra_check_status', direction: (params[:sort] == 'ra_check_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
          <%= sort_indicator('ra_check_status') if params[:sort] == 'ra_check_status' %>
        </th>
        <th class="text-end"><%= t('common.labels.actions') %></th>
      </tr>
    </thead>

    <tbody>
      <% delivery_items.each do |item| %>
        <tr>
          <td><%= item.delivery_note_position %></td>
          <td><%= item.tag_number %></td>
          <td><%= item.batch_number %></td>
          <td><%= item.item_description %></td>
          <td><%= status_label(item.completed ? t('common.yes') : t('common.no')) %></td>
          <td><%= status_label(item.on_hold_status) %></td>
          <td><%= status_label(item.quantity_check_status) %></td>
          <td><%= status_label(item.dimension_check_status) %></td>
          <td><%= status_label(item.visual_check_status) %></td>
          <td><%= status_label(item.vt2_check_status) %></td>
          <td><%= status_label(item.ra_check_status) %></td>
          <td class="text-end">
            <div class="btn-group btn-group-sm">
              <%= link_to project_incoming_delivery_delivery_item_path(@project, @incoming_delivery, item),
                         class: 'btn btn-outline-info m-1',
                         title: t('delivery_items.buttons.view'),
                         data: { bs_toggle: 'tooltip' } do %>
                <i class="bi bi-eye"></i>
              <% end %>

              <%= link_to edit_project_incoming_delivery_delivery_item_path(@project, @incoming_delivery, item),
                         class: 'btn btn-outline-primary m-1',
                         title: t('delivery_items.buttons.edit'),
                         data: { bs_toggle: 'tooltip' } do %>
                <i class="bi bi-pencil"></i>
              <% end %>

              <%= button_tag type: 'button',
                         class: 'btn btn-outline-danger m-1',
                         title: t('delivery_items.buttons.delete'),
                         data: {
                           bs_toggle: "modal",
                           bs_target: "#deleteDeliveryItemModal_#{item.id}",
                           "delivery-item-id": item.id,
                           "project-id": @project.id,
                           "incoming-delivery-id": @incoming_delivery.id,
                           "delivery-item-name": item.batch_number.presence || t('common.labels.not_available'),
                           "delivery-item-number": item.tag_number.presence || t('common.labels.not_available')
                         } do %>
                <i class="bi bi-trash"></i>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% delivery_items.each do |item| %>
<div class="modal fade" 
     id="deleteDeliveryItemModal_<%= item.id %>" 
     tabindex="-1" 
     data-controller="delete-delivery-item"
     data-delete-delivery-item-message-value="<%= t('common.messages.confirm_delete_with_details', model: t('activerecord.models.delivery_item'), name: '%{name}', number: '%{number}') %>"
     data-action="show.bs.modal->delete-delivery-item#handleModalShow"
     aria-labelledby="deleteDeliveryItemModalLabel_<%= item.id %>" 
     aria-hidden="true">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-danger text-white">
          <h5 class="modal-title" id="deleteDeliveryItemModalLabel_<%= item.id %>">
            <i class="bi bi-exclamation-triangle-fill me-2"></i>
            <%= t('common.messages.confirm_delete_title') %>
          </h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p data-delete-delivery-item-target="message"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            <i class="bi bi-x-circle me-2"></i><%= t('common.buttons.cancel') %>
          </button>
          <button type="button" 
                  class="btn btn-danger"
                  data-action="delete-delivery-item#delete">
            <i class="bi bi-trash me-2"></i><%= t('common.buttons.delete') %>
          </button>
        </div>
      </div>
    </div>
  </div>
<% end %>
