<div class="mt-4">
  <%= render 'breadcrumb', breadcrumbs: [
    { text: @project.name, path: project_path(@project) },
    { text: t('navigation.menu.incoming_deliveries.deliveries.title'),
      path: project_incoming_deliveries_path(@project) },
    { text: @incoming_delivery.order_number,
      path: project_incoming_delivery_path(@project, @incoming_delivery) },
    { text: t('delivery_items.index.title') }
  ] %>

  <div class="row mb-4">
    <div class="col-md-8">
      <%= form_tag project_incoming_delivery_delivery_items_path(@incoming_delivery.project, @incoming_delivery), method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
                            class: 'form-control',
                            placeholder: t('common.labels.search_placeholder') %>
          <div class="input-group-append">
            <%= submit_tag t('common.labels.search_button'), class: 'btn btn-primary m-1' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 text-end">
      <% if !@project.archived? %>
        <%= link_to new_project_incoming_delivery_delivery_item_path(@incoming_delivery.project, @incoming_delivery),
                    class: 'btn btn-primary' do %>
          <i class="bi bi-plus"></i> <%= t('delivery_items.buttons.new_item') %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render 'table', delivery_items: @delivery_items %>
</div>