<%= form_with(
      model: [@project, @site_delivery],
      local: true,
      class: 'needs-validation',
      id: 'site_delivery_form',
      data: { 
        turbo: true,
        controller: "validation spool-confirmation"
      }
    ) do |f| %>
  <% if @site_delivery.errors.any? %>
    <div class="alert alert-danger">
      <h6><%= t('.errors.header', count: @site_delivery.errors.count) %></h6>
      <ul>
        <% @site_delivery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :isometry_id, value: @isometry&.id %>

  <div class="row">
    <div class="col-md-4">

      <div class="mb-3">
        <%= f.label :work_package_number, class: 'form-label' %>
        <div class="input-group" 
             data-controller="work-package-search"
             data-work-package-search-url-value="<%= search_work_packages_project_isometries_path(@project, format: :json) %>"
             data-work-package-search-min-length-value="2">
          <%= f.text_field :work_package_number, 
                          class: 'form-control',
                          data: {
                            work_package_search_target: "input",
                            action: "input->work-package-search#search click@window->work-package-search#clickOutside"
                          } %>
          <div class="dropdown-menu w-100" data-work-package-search-target="results"></div>
        </div>
      </div>
        <div class="mb-3">
      <% if @site_delivery.persisted? && @site_delivery.completed? %>

          <%= f.label :completed, class: 'form-label' %>
          <%= f.text_field :completed, 
                          value: (@site_delivery.completed ? l(@site_delivery.completed, format: :long) : nil),
                          class: 'form-control', 
                          disabled: true %>
        <% end %>

        </div>
        <div class="mb-3">
          <% if @site_delivery.persisted? && @site_delivery.completed.nil? && !@site_delivery.failed? %>
            <%= link_to complete_project_site_delivery_path(@project, @site_delivery),
                      method: :patch,
                      class: 'btn btn-success',
                      data: { 
                        turbo_method: :patch,
                        turbo_confirm: t('common.messages.confirm_complete') 
                      } do %>
              <i class="bi bi-check-circle"></i> <%= t('common.actions.complete') %>
            <% end %>
          <% end %>
        </div>
    </div>

    <div class="col-md-8">
      <%= render "isometry_details", isometry: @isometry %>

      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= f.label :check_spools_status, t('activerecord.attributes.site_delivery.check_spools_status'), class: 'form-label' %>
                <%= f.select :check_spools_status, SiteDelivery::CHECK_SPOOLS_STATUSES, { include_blank: false }, class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <%= f.label :check_spools_images, t('activerecord.attributes.site_delivery.check_spools_images'), class: 'form-label' %>
              <%= f.file_field :check_spools_images, multiple: true, class: 'form-control' %>
            </div>
          </div>
          
          <%= render partial: 'images', locals: { 
            images: f.object.check_spools_images, 
            image_type: 'check_spools',
            edit_mode: true,
            model_type: f.object
          } %>

          <%= f.text_area :check_spools_comment, class: 'form-control mt-2', rows: 2,
                          placeholder: t('activerecord.attributes.site_delivery.check_spools_comment') %>
        </div>
      </div>

  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <%= link_to t('common.labels.back'), project_site_deliveries_path(@project), class: 'btn btn-outline-secondary' %>
        <%= f.submit t("common.actions.save"), 
            class: "btn btn-primary", 
            data: { 
              spool_confirmation_target: "submitButton",
              disable_with: t('common.actions.saving')
            },
            disabled: true %>
      </div>
    </div>
  </div>
<% end %>
