<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.site_deliveries'),
    path: project_site_deliveries_path(@project) }
] %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= t('.title_for_project', project: @project.name) %></h1>
  </div>

  <div class="row mb-4">
    <div class="col-md-8">
      <%= form_tag project_site_deliveries_path(@project), method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
                            class: 'form-control',
                            placeholder: t('common.labels.search_placeholder') %>
          <div class="input-group-append">
            <%= submit_tag t('common.labels.search_button'), class: 'btn btn-outline-secondary m-1' %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-md-4 text-end">
      <%= link_to new_project_site_delivery_path(@project), class: 'btn btn-primary' do %>
        <i class="bi bi-plus"></i> <%= t('common.buttons.new') %>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.isometry.line_id') %></th>
          <th><%= t('activerecord.attributes.isometry.page_number') %></th>
          <th><%= t('activerecord.attributes.isometry.revision_number') %></th>
          <th>
            <%= link_to t('activerecord.attributes.site_delivery.work_package_number'),
                request.params.merge(sort: 'work_package_number', direction: (params[:sort] == 'work_package_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_package_number') if params[:sort] == 'work_package_number' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.site_delivery.check_spools_status'),
                request.params.merge(sort: 'check_spools_status', direction: (params[:sort] == 'check_spools_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('check_spools_status') if params[:sort] == 'check_spools_status' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.site_delivery.completed'),
                request.params.merge(sort: 'completed', direction: (params[:sort] == 'completed' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('completed') if params[:sort] == 'completed' %>
          </th>
          <th><%= t('common.labels.created_by') %></th>
          <th class="text-end"><%= t('common.labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @site_deliveries.each do |site_delivery| %>
          <tr>
            <td><%= link_to site_delivery.isometry&.line_id, project_isometry_path(@project, site_delivery.isometry) %></td>
            <td><%= site_delivery.isometry.page_number %></td>
            <td><%= site_delivery.isometry.revision_number %></td>
            <td><%= site_delivery.work_package_number %></td>
            <td><%= status_label(site_delivery.check_spools_status) %></td>
            <td><%= l(site_delivery.completed, format: :short) if site_delivery.completed %></td>
            <td><%= site_delivery.user.name %></td>
            <td class="text-end">
              <% if current_user.can_view?("SiteDelivery") %>
                <%= link_to project_site_delivery_path(@project, site_delivery), class: 'btn btn-sm btn-outline-primary' do %>
                  <i class="bi bi-eye"></i>
                <% end %>
              <% end %>
              <% if current_user.can_edit?("SiteDelivery") %>
                <%= link_to edit_project_site_delivery_path(@project, site_delivery), class: 'btn btn-sm btn-outline-secondary' do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
              <% end %>
              <% if current_user.can_delete?("SiteDelivery") %>
                  <%= button_tag type: 'button',
                             class: 'btn btn-outline-danger m-1',
                             title: t('common.buttons.delete'),
                             data: {
                               bs_toggle: "modal",
                               bs_target: "#deleteSiteDeliveryModal",
                               "project-id": site_delivery.project.id,
                               "site-delivery-id": site_delivery.id,
                               "site-delivery-name": site_delivery.work_package_number,
                               "site-delivery-number": site_delivery.work_package_number
                             } do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: 'delete_confirmation_modal', 
           locals: {
             modal_id: 'deleteSiteDeliveryModal',
             controller_name: 'delete-site-delivery',
             model_name: 'site_delivery'
           } %>