<div class="container mt-5 text-center">
  <div class="alert">
    <h1><%= t('home.title') %></h1>
    <h2><%= t('home.industries') %></h2>
    <h3><%= t('home.construction') %></h3>
    <p class="mt-4"><%= t('home.description') %></p>
    <%= link_to 'Sign In', new_user_session_path, class: "btn base-color-bg-dark text-white" %>
  </div>
</div>
