<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.test_packs.title'),
    path: project_test_packs_path(@project) },
  { text: @test_pack.work_package_number }
] %>

<div class="mt-4">
    <div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0"><i class="bi bi-diagram-2"></i> <%= t('activerecord.models.isometry') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.line_id') %></dt>
            <dd class="col-sm-6"><%=link_to @test_pack.isometry&.line_id, project_isometry_path(@project, @test_pack.isometry) %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.page_number') %></dt>
            <dd class="col-sm-6"><%= @test_pack.isometry.page_number %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.revision_number') %></dt>
            <dd class="col-sm-6"><%= revision_status_label(@test_pack.isometry) %></dd>

          </dl>
        </div>

        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.pid_number') %>
            <dd class="col-sm-6"><%= @test_pack.isometry.pid_number %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.material') %></dt>
            <dd class="col-sm-6"><%= @test_pack.isometry.material %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.system') %></dt>
            <dd class="col-sm-6"><%= @test_pack.isometry.system %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><%= t('.title', work_package: @test_pack.work_package_number) %></h2>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.work_package_number') %></dt>
            <dd class="col-sm-6"><%= @test_pack.work_package_number %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.one_test') %></dt>
            <dd class="col-sm-6"><%= @test_pack.one_test ? t('common.labels.yes') : t('common.labels.no') %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.test_pack_type') %></dt>
            <dd class="col-sm-6"><%= t("test_packs.types.#{@test_pack.test_pack_type}") if @test_pack.test_pack_type %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.dp_team') %></dt>
            <dd class="col-sm-6"><%= @test_pack.dp_team %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.operating_pressure') %></dt>
            <dd class="col-sm-6"><%= @test_pack.operating_pressure %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.dp_pressure') %></dt>
            <dd class="col-sm-6">
              <%= pressure_status_label(@test_pack.dp_pressure, @test_pack.operating_pressure) %>
            </dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.dip_team') %></dt>
            <dd class="col-sm-6"><%= @test_pack.dip_team %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.dip_pressure') %>
            <dd class="col-sm-6"><%= @test_pack.dip_pressure %></dd>

            <dt class="col-sm-6"><%= t('common.labels.created_by') %></dt>
            <dd class="col-sm-6"><%= @test_pack.user.name %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.completed') %></dt>
            <dd class="col-sm-6"><%= @test_pack.completed.strftime("%d/%m/%Y %H:%M") if @test_pack.completed %></dd>
          </dl>
        </div>

        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.on_hold_status') %></dt>
            <dd class="col-sm-6"><%= @test_pack.on_hold_status %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.on_hold_date') %></dt>
            <dd class="col-sm-6"><%= @test_pack.on_hold_date.strftime("%d/%m/%Y %H:%M") if @test_pack.on_hold_date %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.test_pack.on_hold_comment') %></dt>
            <dd class="col-sm-6"><%= @test_pack.on_hold_comment %></dd>

            <%= render partial: 'application/docuvita_documents', locals: {
              documents: @test_pack.on_hold_images,
              title: t('.on_hold_images')
            } %>

          </dl>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <%= link_to t('common.labels.back'), project_test_packs_path(@project), class: 'btn btn-primary' %>
        <%= link_to t('common.labels.back_isometry'), project_isometry_path(@project, @test_pack.isometry), class: 'btn btn-primary' %>

        <% if current_user.can_edit?("TestPack") %>
          <%= link_to edit_project_test_pack_path(@project, @test_pack), class: 'btn btn-outline-primary' do %>
            <i class="bi bi-pencil"></i> <%= t('common.labels.edit') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
