<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0"><%= t('.title') %></h5>
    <div>
      <% if current_user.can_edit?("Project") && !@project.archived? %>
        <%= link_to t('projects.buttons.edit'), edit_project_path(@project), class: 'btn btn-primary btn-sm'%>
      <% end %>
      <%= link_to t('projects.buttons.back'), projects_path, class: 'btn btn-secondary btn-sm' %>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <dl class="row">
          <dt class="col-sm-3"><%= t('.project_number') %></dt>
          <dd class="col-sm-9"><%= @project.project_number %></dd>

          <dt class="col-sm-3"><%= t('.client_name') %></dt>
          <dd class="col-sm-9"><%= @project.client_name %></dd>

          <dt class="col-sm-3"><%= t('.name') %></dt>
          <dd class="col-sm-9"><%= @project.name %></dd>

          <dt class="col-sm-3"><%= t('activerecord.attributes.project.project_manager_client') %></dt>
          <dd class="col-sm-9"><%= @project.project_manager_client%></dd>

          <dt class="col-sm-3"><%= t('activerecord.attributes.project.project_manager_qualinox') %></dt>
          <dd class="col-sm-9"><%= @project.project_manager_qualinox %></dd>

          <dt class="col-sm-3"><%= t('.project_end') %></dt>
          <dd class="col-sm-9"><%= @project.project_end.strftime("%d/%m/%Y") if @project.project_end%></dd>

          <dt class="col-sm-3"><%= t('.created_by') %></dt>
          <dd class="col-sm-9"><%= @project.user&.name %></dd>

          <dt class="col-sm-3"><%= t('.created') %></dt>
          <dd class="col-sm-9"><%= @project.created_at.strftime("%d/%m/%Y %H:%M") %></dd>

          <dt class="col-sm-3"><%= t('.workshop') %></dt>
          <dd class="col-sm-9"><%= @project.workshop ? t('common.labels.yes') : t('common.labels.no') %></dd>

          <dt class="col-sm-3"><%= t('.archived') %></dt>
          <dd class="col-sm-9"><%= @project.archived ? t('common.labels.yes') : t('common.labels.no') %></dd>
        </dl>
      </div>
      <div class="col-md-2 text-center">
        <div style="height: 110px; display: flex; align-items: flex-start; justify-content: center; padding-top: 10px">
          <h5 class="mb-0"><%= t('reports.isometries.diagram_title') %></h5>
        </div>
        <%= link_to project_progress_tracking_index_path(@project, locale: I18n.locale), class: 'btn btn-sm ms-2' do %>
          <%= image_tag 'report2.png', alt: t('reports.isometries.diagram_title'), class: 'img-fluid', style: 'height: 120px; width: auto;' %>
        <% end %>
      </div>
      <div class="col-md-2 text-center">
        <div style="height: 110px; display: flex; align-items: flex-start; justify-content: center; padding-top: 10px">
          <h5 class="mb-0"><%= t('reports.isometries.title') %></h5>
        </div>
        <%= link_to project_isometries_report_path(@project), class: 'text-decoration-none' do %>
          <%= image_tag 'diagram2.png', alt: t('reports.isometries.title'), class: 'img-fluid', style: 'height: 120px; width: auto;' %>
        <% end %>
      </div>
      <div class="col-md-2 text-center">
        <div style="height: 110px; display: flex; align-items: flex-start; justify-content: center; padding-top: 10px">
          <h5 class="mb-0"><%= t('.material_certificates') %></h5>
        </div>
        <%= link_to project_material_certificates_path(@project), class: 'text-decoration-none' do %>
          <%= image_tag 'certificates.png', alt: t('.material_certificates'), class: 'img-fluid', style: 'height: 120px; width: auto;' %>
        <% end %>
      </div>
    </div>
    <div class="row g-4">
      <%= render 'application/sector_card', sectors: @sectors, project: @project %>
    </div>
  </div>
</div>
