<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.on_sites.title'),
    path: project_on_sites_path(@project) },
  { text: @on_site.work_package_number }
] %>

<div class="mt-4">
  <div class="card mb-4">
    <div class="card-header">
      <h5 class="mb-0"><i class="bi bi-diagram-2"></i> <%= t('activerecord.models.isometry') %></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.line_id') %></dt>
            <dd class="col-sm-6"><%=link_to @on_site.isometry&.line_id, project_isometry_path(@project, @on_site.isometry) %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.page_number') %></dt>
            <dd class="col-sm-6"><%= @on_site.isometry.page_number %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.revision_number') %></dt>
            <dd class="col-sm-6"><%= revision_status_label(@on_site.isometry) %></dd>

          </dl>
        </div>

        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.pid_number') %>
            <dd class="col-sm-6"><%= @on_site.isometry.pid_number %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.material') %></dt>
            <dd class="col-sm-6"><%= @on_site.isometry.material %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.isometry.system') %></dt>
            <dd class="col-sm-6"><%= @on_site.isometry.system %></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <h2 class="mb-0"><%= t('.title', work_package: @on_site.work_package_number) %></h2>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.on_site.work_package_number') %></dt>
            <dd class="col-sm-6"><%= @on_site.work_package_number %></dd>

            <dt class="col-sm-6"><%= t('common.labels.created_by') %></dt>
            <dd class="col-sm-6"><%= @on_site.user.name %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.on_site.completed') %></dt>
            <dd class="col-sm-6"><%= @on_site.completed.strftime("%d/%m/%Y %H:%M") if @on_site.completed %></dd>
          </dl>
            <%= render partial: 'application/image_gallery', locals: { images: @on_site.images } %>
        </div>

        <div class="col-md-6">
          <dl class="row">
            <dt class="col-sm-6"><%= t('activerecord.attributes.on_site.on_hold_status') %></dt>
            <dd class="col-sm-6"><%= @on_site.on_hold_status %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.on_site.on_hold_date') %></dt>
            <dd class="col-sm-6"><%= @on_site.on_hold_date.strftime("%d/%m/%Y %H:%M") if @on_site.on_hold_date %></dd>

            <dt class="col-sm-6"><%= t('activerecord.attributes.on_site.on_hold_comment') %></dt>
            <dd class="col-sm-6"><%= @on_site.on_hold_comment %></dd>

                  <% if @on_site.on_hold_images.attached? %>
                  <div class="row row-cols-1 row-cols-md-3 g-3">
                    <% @on_site.on_hold_images.each do |attachment| %>
                      <div class="col">
                        <div class="card h-100">
                          <% if attachment.content_type.start_with?('image/') %>
                            <%= link_to rails_blob_path(attachment, disposition: "inline"), target: "_blank" do %>
                              <%= image_tag(attachment.variant(:thumb), 
                                          class: "card-img-top", 
                                          style: "object-fit: cover; height: 100px;") %>
                            <% end %>
                          <% else %>
                            <%= link_to rails_blob_path(attachment, disposition: "inline"), target: "_blank", class: "text-center p-3" do %>
                              <i class="bi bi-file-pdf fs-1 text-danger"></i>
                              <p class="small text-muted mt-2 mb-0"><%= attachment.filename %></p>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>

          </dl>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="d-flex justify-content-between">
        <%= link_to t('common.labels.back'), project_on_sites_path(@project), class: 'btn btn-primary' %>
        <%= link_to t('common.labels.back_isometry'), project_isometry_path(@project, @on_site.isometry), class: 'btn btn-primary' %>

        <% if current_user.can_edit?("OnSite") %>
          <%= link_to edit_project_on_site_path(@project, @on_site), class: 'btn btn-outline-primary' do %>
            <i class="bi bi-pencil"></i> <%= t('common.labels.edit') %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
