<%# Params:
    - images: collection of attached images
    - title: section title (optional)
%>

<% if images.attached? %>
  <div class="mb-3">
    <% if local_assigns[:title].present? %>
      <h6 class="pb-2 mb-2"><%= title %></h6>
    <% end %>
    <div class="d-flex flex-wrap gap-2">
      <% images.each do |image| %>
        <%= link_to url_for(image), target: "_blank", class: "text-decoration-none" do %>
          <div class="border rounded p-2" style="width: 120px;">
            <div class="text-center">
              <i class="bi bi-file-image text-danger" style="font-size: 1.5rem;"></i>
              <div class="small text-dark text-truncate mt-1" title="<%= image.filename.to_s %>">
                <%= image.filename.to_s %>
              </div>
              <div class="text-muted" style="font-size: 0.7rem;">
                <%= number_to_human_size(image.byte_size) %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
