<%= render 'breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.isometries.title'), path: project_isometries_path(@project) },
  { text: @isometry.line_id }
] %>

<div class="container mt-4 radius-7 white-bg">

<%= render "sectors_create" %>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <div class="d-flex align-items-center">
    <%= render "qr_code"%>
  </div>

  <div class="btn-toolbar mb-2 mb-md-0">
    <% if current_user.can_edit?("Isometry") && @isometry.can_add_page? && !@project.archived? %>
      <%= link_to new_page_project_isometry_path(@project, @isometry),
            class: "btn btn-sm btn-outline-primary me-2",
            data: { turbo_method: :post } do %>
        <i class="bi bi-plus"></i> <%= t('isometries.actions.add_page') %>
      <% end %>
    <% end %>
    <% if current_user.can_edit?("Isometry") && @isometry.page_number == 1 && @isometry.revision_last? && !@project.archived? %>
      <%= button_to create_revision_project_isometry_path(@project, @isometry),
                  method: :post,
                  class: 'btn btn-sm btn-outline-primary me-2',
                  form: { style: 'display: inline-block' },
                  data: { turbo_confirm: t('.confirm_revision') } do %>
        <i class="bi bi-plus-circle"></i> <%= t('isometries.actions.create_revision') %>
      <% end %>
    <% end %>
    <% if current_user.can_edit?("Isometry") && !@project.archived? %>
      <%= link_to edit_project_isometry_path(@project, @isometry), class: "btn btn-sm btn-primary me-2" do %>
        <i class="bi bi-pencil"></i> <%= t('common.actions.edit') %>
      <% end %>
    <% end %>
    <% if current_user.can_delete?("Isometry") && !@project.archived? %>
      <%= button_tag type: 'button',
          class: 'btn btn-sm btn-outline-danger',
          title: t('common.buttons.delete'),
          data: {
            bs_toggle: "modal",
            bs_target: "#deleteIsometryModal",
            "isometry-id": @isometry.id,
            "isometry-name": @isometry.line_id,
            "isometry-number": @isometry.line_id,
            "project-id": @project.id
          } do %>
        <i class="bi bi-trash"></i> <%= t('common.actions.delete') %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="flex justify-between items-center mb-4">
  <h1 class="text-2xl font-bold"><%= t(".title") %></h1>
</div>

<div class="row mb-4">
  <!-- Technical Specifications -->
  <h5 class="border-bottom pb-2 mb-3"><%= t('.technical_specs') %></h5>

  <div class="col-md-6 mb-4">
    <dl class="row">
      <dt class="col-sm-4"><%= t('.received_date') %></dt>
      <dd class="col-sm-8"><%= @isometry.received_date.strftime("%d/%m/%Y %H:%M") %></dd>

      <dt class="col-sm-4"><%= t('.pid_number') %></dt>
      <dd class="col-sm-8"><%= @isometry.pid_number %></dd>

      <dt class="col-sm-4"><%= t('.pid_revision') %></dt>
      <dd class="col-sm-8"> <%= @isometry.pid_revision %></dd>

      <dt class="col-sm-4"><%= t('.line_id') %></dt>
      <dd class="col-sm-8"><%= @isometry.line_id %></dd>

      <dt class="col-sm-4"><%= t('.dn_measurements') %></dt>
      <dd class="col-sm-8"><%= @isometry.dn %></dd>

      <dt class="col-sm-4"><%= t('.revision') %></dt>
      <dd class="col-sm-8">
        <%= @isometry.revision_number %>
        <% if @isometry.revision_last %>
          <span class="badge bg-success"><%= t('.latest_revision') %></span>
        <% end %>
      </dd>

      <dt class="col-sm-4"><%= t('.page') %></dt>
      <dd class="col-sm-8"><%= @isometry.page_number %></dd>

      <dt class="col-sm-4"><%= t('.total_page') %></dt>
      <dd class="col-sm-8"><%= @isometry.page_total %></dd>
    </dl>
  </div>

  <div class="col-md-6 mb-4">
    <dl class="row">
      <dt class="col-sm-4"><%= t('.pipe_class') %></dt>
      <dd class="col-sm-8"><%= @isometry.pipe_class %></dd>

      <dt class="col-sm-4"><%= t('.material') %></dt>
      <dd class="col-sm-8"><%= @isometry.material %></dd>

      <dt class="col-sm-4"><%= t('.system') %></dt>
      <dd class="col-sm-8"><%= @isometry.system %></dd>

      <dt class="col-sm-4"><%= t('.medium') %></dt>
      <dd class="col-sm-8"><%= @isometry.medium %></dd>

      <dt class="col-sm-4"><%= t('.work_package') %></dt>
      <dd class="col-sm-8"><%= @isometry.work_package_number %></dd>

      <% if @project.workshop? %>
        <dt class="col-sm-4"><%= t('.revision_letter') %></dt>
        <dd class="col-sm-8"><%= @isometry.revision_letter %></dd>
      <% end %>
    </dl>
  </div>
</div>

<!-- Material Certificates -->
<div class="row mb-4">
  <div class="col-12">
    <h5 class="border-bottom pb-2 mb-3"><%= t('.material_certificates') %></h5>
    <% if @isometry.material_certificates.any? %>
      <div class="row g-3">
        <% @isometry.material_certificates.each do |cert| %>
          <div class="col-md-2">
            <%# Find the relevant Docuvita document for this certificate %>
            <% docuvita_doc = cert.docuvita_documents.find { |doc| doc.document_type == 'material_certificate' } %>

            <div class="d-flex flex-column align-items-center position-relative text-center">
              <% if docuvita_doc %>
                <%= link_to view_docuvita_document_path(docuvita_doc),
                    target: "_blank",
                    class: "text-decoration-none text-dark",
                    title: "View certificate #{docuvita_doc.filename} from Docuvita" do %>
                  <div class="mb-2">
                    <i class="bi bi-file-pdf text-danger" style="font-size: 2rem;"></i>
                  </div>
                <% end %>
              <% else %>
                <div class="text-center mb-2 text-muted">
                  <i class="bi bi-file-earmark-minus" style="font-size: 2rem;"></i>
                </div>
              <% end %>
              <small class="text-muted text-truncate" title="<%= cert.certificate_number %>">
                <%= cert.certificate_number %>
              </small><br>
              <span class="text-secondary small"><%= cert.batch_number %></span>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <p class="text-muted"><%= t('.no_certificates') %></p>
    <% end %>
  </div>
</div>

<!-- Weldings -->
<div class="row mb-4">
  <div class="col-12">
    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-3">
      <h5><%= t('.weldings') %></h5>
      <div>
        <% if @isometry.weldings.any? %>
          <%= link_to download_welding_report_project_isometry_path(@project, @isometry),
                    class: "btn btn-primary",
                    target: "_blank",
                    data: { turbo: false } do %>
            <i class="fas fa-file-pdf me-1"></i>
            <%= t("common.weldings.view_welding_report") %>
          <% end %>
        <% end %>
      </div>
    </div>

    <dl class="row">
      <dt class="col-sm-4"><%= t('.additional_empty_rows') %></dt>
      <dd class="col-sm-8">
        <%= @isometry.additional_empty_rows %>
      </dd>
    </dl>


    <% if @isometry.weldings.any? %>
      <%= render 'weldings/weldings_table', weldings: @isometry.weldings %>
    <% else %>
      <p class="text-muted"><%= t('.no_weldings') %></p>
    <% end %>
  </div>
</div>

<!-- Additional Specifications -->
<div class="row mb-4">
  <div class="col-md-4">
    <div class="col-12">
      <h5 class="border-bottom pb-2 mb-3"><%= t('.additional_specs') %></h5>
    </div>
    <dl class="row">
      <dt class="col-sm-4"><%= t('.dp') %></dt>
      <dd class="col-sm-8">
        <%= @isometry.dp ? t('common.yes') : t('common.no') %>
      </dd>

      <dt class="col-sm-4"><%= t('.dip') %></dt>
      <dd class="col-sm-8">
        <%= @isometry.dip ? t('common.yes') : t('common.no') %>
      </dd>

      <dt class="col-sm-4"><%= t('.isolation') %></dt>
      <dd class="col-sm-8">
        <%= @isometry.isolation_required ? t('common.yes') : t('common.no') %>
      </dd>
      <dt class="col-sm-4"><%= t('.approved_for_production') %></dt>
      <dd class="col-sm-8">
        <%= status_label(@isometry.approved_for_production ? t('common.yes') : t('common.no')) %>
      </dd>

      <dt class="col-sm-4"><%= t('.gmp') %></dt>
      <dd class="col-sm-8">
        <%= @isometry.gmp ? t('common.yes') : t('common.no') %>
      </dd>

      <dt class="col-sm-4"><%= t('.gdp') %></dt>
      <dd class="col-sm-8">
        <%= @isometry.gdp ? t('common.yes') : t('common.no') %>
      </dd>

      <dt class="col-sm-4"><%= t('.ped_category') %></dt>
      <dd class="col-sm-8"><%= @isometry.ped_category %></dd>

      <dt class="col-sm-4"><%= t('.slope') %></dt>
      <dd class="col-sm-8"><%= @isometry.slope_if_needed %></dd>
    </dl>
  </div>


  <!-- Inspections -->
  <div class="col-md-8">
    <div class="col-12">
      <h5 class="border-bottom pb-2 mb-3"><%= t('.inspections') %></h5>

      <dl class="row mb-3">
        <dt class="col-sm-2"><%= t('.rt_percentage') %></dt>
        <dd class="col-sm-10"><%= @isometry.rt %> %</dd>
      </dl>
      <%= render partial: 'docuvita_documents', locals: {
        documents: @isometry.rt_images,
        title: t('.isometry_documents'),
        edit_mode: false,
        modal_group_key: 'rt_images'
      } %>

      <dl class="row mb-3">
        <dt class="col-sm-2"><%= t('.vt_percentage') %></dt>
        <dd class="col-sm-10"><%= @isometry.vt2 %> %</dd>
      </dl>
      <%= render partial: 'docuvita_documents', locals: {
        documents: @isometry.vt_images,
        title: t('.isometry_documents'),
        edit_mode: false,
        modal_group_key: 'vt_images'
      } %>


      <dl class="row mb-3">
        <dt class="col-sm-2"><%= t('.pt_percentage') %></dt>
        <dd class="col-sm-10"><%= @isometry.pt2%> %</dd>
      </dl>
      <%= render partial: 'docuvita_documents', locals: {
        documents: @isometry.pt_images,
        title: t('.isometry_documents'),
        edit_mode: false,
        modal_group_key: 'pt_images'
      } %>
    </div>
  </div>
</div>

<!-- Spooling -->
<div class="row mb-4">
  <div class="col-md-6">
    <h5 class="border-bottom pb-2 mb-3"><%= t('.spooling') %></h5>
    <dl class="row">
      <dt class="col-sm-4"><%= t('.total_pipe_length') %></dt>
      <dd class="col-sm-8"><%= number_with_precision(@isometry.pipe_length, precision: 2) %> m</dd>

      <dt class="col-sm-4"><%= t('.workshop_sn') %></dt>
      <dd class="col-sm-8"><%= @isometry.workshop_sn %> pcs</dd>

      <dt class="col-sm-4"><%= t('.on_site_sn') %></dt>
      <dd class="col-sm-8"><%= @isometry.assembly_sn %> pcs</dd>

      <dt class="col-sm-4"><%= t('.total_sn') %></dt>
      <dd class="col-sm-8"><%= @isometry.total_sn %> pcs</dd>

      <dt class="col-sm-4"><%= t('.total_supports') %></dt>
      <dd class="col-sm-8"><%= @isometry.total_supports %> pcs</dd>

      <dt class="col-sm-4"><%= t('.total_spools') %></dt>
      <dd class="col-sm-8"><%= @isometry.total_spools %> pcs</dd>
    </dl>
  </div>

  <div class="col-md-6">
    <h5 class="border-bottom pb-2 mb-3"><%= t('.on_hold_status') %></h5>
    <dl class="row">
      <dt class="col-sm-4"><%= t('.status') %></dt>
      <dd class="col-sm-8"><%= status_label(@isometry.on_hold_status) %></dd>

      <dt class="col-sm-4"><%= t('.comment') %></dt>
      <dd class="col-sm-8"><%= @isometry.on_hold_comment %></dd>

      <dt class="col-sm-4"><%= t('.date') %></dt>
      <dd class="col-sm-8"><%= @isometry.on_hold_date.strftime("%d/%m/%Y %H:%M") if @isometry.on_hold_date %></dd>
      <%= render partial: 'docuvita_documents', locals: {
        documents: @isometry.on_hold_images,
        title: t('.on_hold_images'),
        edit_mode: false,
        modal_group_key: 'on_hold_images'
      } %>
    </dl>
  </div>
</div>

<!-- Isometry Images -->
<h5 class="border-bottom pb-2 mb-3"><%= t('.isometries') %></h5>

<% if @isometry.isometry_pdfs.any? %>
  <div class="row mb-4">
    <div class="col-12">
      <%= render partial: 'docuvita_documents', locals: {
        documents: @isometry.isometry_pdfs,
        title: t('.isometry_documents'),
        edit_mode: false,
        modal_group_key: 'isometry_pdfs'
      } %>
    </div>
  </div>
<% else %>
  <p class="text-muted pb-4"><%= t('.no_isometry_documents') %></p>
<% end %>

<!-- Notes -->
<% if @isometry.notes.present? %>
  <div class="row mb-4">
    <div class="col-12">
      <h5 class="border-bottom pb-2 mb-3"><%= t('.notes') %></h5>
      <p class="text-muted"><%= @isometry.notes %></p>
    </div>
  </div>
<% end %>


