<%= render 'application/breadcrumb', breadcrumbs: [
  { text: @project.name, path: project_path(@project) },
  { text: t('navigation.menu.pre_weldings'),
    path: project_pre_weldings_path(@project) }
] %>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="text-white"><%= t('.title_for_project', project: @project.name) %></h1>
  </div>

  <div class="row mb-4">
    <div class="col-md-8">
      <%= form_tag project_pre_weldings_path(@project), method: :get do %>
        <div class="input-group">
          <%= text_field_tag :search, params[:search],
                            class: 'form-control',
                            placeholder: t('common.labels.search_placeholder') %>
          <div class="input-group-append">
            <%= submit_tag t('common.labels.search_button'), class: 'btn btn-primary m-1' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.isometry.line_id') %></th>
          <th><%= t('activerecord.attributes.isometry.page_number') %></th>
          <th><%= t('activerecord.attributes.isometry.revision_number') %></th>
          <th>
            <%= link_to t('activerecord.attributes.pre_welding.work_location'),
                request.params.merge(sort: 'work_location_id', direction: (params[:sort] == 'work_location_id' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_location_id') if params[:sort] == 'work_location_id' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.pre_welding.work_package_number'),
                request.params.merge(sort: 'work_package_number', direction: (params[:sort] == 'work_package_number' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('work_package_number') if params[:sort] == 'work_package_number' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.pre_welding.on_hold_status'),
                request.params.merge(sort: 'on_hold_status', direction: (params[:sort] == 'on_hold_status' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('on_hold_status') if params[:sort] == 'on_hold_status' %>
          </th>
          <th>
            <%= link_to t('activerecord.attributes.pre_welding.completed'),
                request.params.merge(sort: 'completed', direction: (params[:sort] == 'completed' && params[:direction] == 'asc') ? 'desc' : 'asc') %>
            <%= sort_indicator('completed') if params[:sort] == 'completed' %>
          </th>
          <th><%= t('common.labels.created_by') %></th>
          <th class="text-end"><%= t('common.labels.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @pre_weldings.each do |pre_welding| %>
          <tr>
            <td><%= link_to pre_welding.isometry&.line_id, project_isometry_path(@project, pre_welding.isometry) %></td>
            <td><%= pre_welding.isometry.page_number %></td>
            <td><%= revision_status_label(pre_welding.isometry) %></td>
            <td><%= t("work_locations.types.#{pre_welding.work_location.location_type}") if pre_welding.work_location %></td>
            <td><%= pre_welding.work_package_number %></td>
            <td><%= status_label(pre_welding.on_hold_status) %></td>
            <td><%= l(pre_welding.completed, format: :short) if pre_welding.completed %></td>
            <td><%= pre_welding.user.name %></td>
            <td class="text-end">
              <% if current_user.can_view?("PreWelding") %>
                <%= link_to project_pre_welding_path(@project, pre_welding), class: 'btn btn-sm btn-outline-primary' do %>
                  <i class="bi bi-eye"></i>
                <% end %>
              <% end %>
              <% if current_user.can_edit?("PreWelding") %>
                <%= link_to edit_project_pre_welding_path(@project, pre_welding), class: 'btn btn-sm btn-primary' do %>
                  <i class="bi bi-pencil"></i>
                <% end %>
              <% end %>
              <% if current_user.can_delete?("PreWelding") %>
                  <%= button_tag type: 'button',
                             class: 'btn btn-outline-danger m-1',
                             title: t('common.buttons.delete'),
                             data: {
                               bs_toggle: "modal",
                               bs_target: "#deletePreWeldingModal",
                               "project-id": pre_welding.project.id,
                               "pre_welding-id": pre_welding.id,
                               "pre_welding-name": pre_welding.work_package_number,
                               "pre_welding-number": pre_welding.work_package_number
                             } do %>
                    <i class="bi bi-trash"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render partial: 'delete_confirmation_modal', 
           locals: {
             modal_id: 'deletePreWeldingModal',
             controller_name: 'delete-pre-welding',
             model_name: 'pre_welding'
           } %>