    <!-- Main Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo.svg", height: 40, alt: "Logo" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
          <ul class="navbar-nav me-auto">
            <% if user_signed_in? %>

              <!-- Projects -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  <%= t('navigation.menu.projects.title') %>
                </a>
                <div class="dropdown-menu">
                  <%= link_to t('navigation.menu.projects.list'), projects_path, class: 'dropdown-item' %>
                  <%= link_to t('navigation.menu.projects.new'), new_project_path, class: 'dropdown-item' %>
                </div>
              </li>

              <!-- Incoming Goods -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  <%= t('navigation.menu.incoming_goods.title') %>
                </a>
                <div class="dropdown-menu">
                  <%= link_to t('navigation.menu.incoming_goods.deliveries'), incoming_deliveries_path, class: 'dropdown-item' %>
                  <%= link_to t('navigation.menu.incoming_goods.new_delivery'), new_incoming_delivery_path, class: 'dropdown-item'%>
                  <%= link_to t('navigation.menu.incoming_goods.material_certificates'), material_certificates_path, class: 'dropdown-item' %>
                </div>
              </li>

              <!-- Quality Control -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  <%= t('navigation.menu.quality_control.title') %>
                </a>
                <div class="dropdown-menu">
                  <%= link_to t('navigation.menu.quality_control.quality_inspections'), quality_inspections_path, class: 'dropdown-item' %>
                  <%= link_to t('navigation.menu.quality_control.roughness_measurements'), roughness_measurements_path, class: 'dropdown-item' %>
                </div>
              </li>

              <!-- Admin section if user has admin rights -->
              <% if current_admin %>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                    Admin
                  </a>
                  <div class="dropdown-menu">
                    <%#= link_to 'Users', users_path, class: 'dropdown-item' %>
                    <%#= link_to 'Roles', roles_path, class: 'dropdown-item' %>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
            <div class="ms-auto">
              <div class="dropdown" data-controller="language">
                <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <%= image_tag "flags/4x3/#{I18n.locale == :en ? 'gb' : 'de'}.svg", width: 20, height: 15, alt: I18n.locale.to_s.upcase %>
                  <%= I18n.locale.to_s.upcase %>
                </button>
                <ul class="dropdown-menu">
                  <% { en: 'gb', de: 'de' }.each do |locale, flag| %>
                    <li>
                      <%= link_to params.permit(:locale).merge(locale: locale),
                            class: "dropdown-item #{I18n.locale == locale ? 'active' : ''}",
                            data: { "turbo-method": :patch } do %>
                        <%= image_tag "flags/4x3/#{flag}.svg", width: 20, height: 15, alt: locale.to_s.upcase %>
                        <%= locale.to_s.upcase %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <!-- User section -->
          <ul class="navbar-nav">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                  <%= current_user.email %>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                  <%= link_to 'Profile', edit_user_registration_path, class: 'dropdown-item' %>
                  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
                </div>
              </li>
            <% else %>
              <li class="nav-item">
                <%= link_to 'Sign In', new_user_session_path, class: 'nav-link' %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>