<div class="card">
  <div class="card-header">
    <h5 class="mb-0"><%= title %></h5>
  </div>

  <div class="card-body">
    <%= form_with(model: record, local: true, class: 'needs-validation') do |f| %>
      <% if record.errors.any? %>
        <div class="alert alert-danger">
          <h6 class="alert-heading">
            <%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:
          </h6>
          <ul class="mb-0">
            <% record.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% fields.each do |field| %>
        <div class="form-group">
          <%= f.label field, t("activerecord.attributes.#{record.model_name.i18n_key}.#{field}") %>
          <%= f.text_field field, class: 'form-control' %>
        </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit t('helpers.submit.submit'), class: 'btn btn-primary' %>
        <%= link_to t('helpers.links.cancel'), :back, class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
</div>