<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :on_hold_status, t('common.labels.on_hold_status'), class: 'form-label' %>
          <%= f.select :on_hold_status, DeliveryItem::ON_HOLD_STATUSES, { include_blank: false }, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-6">
        <%= f.label :on_hold_images, t('common.labels.on_hold_images'), class: 'form-label' %>
        <%= f.file_field :on_hold_images, multiple: true, class: 'form-control' %>
      </div>
    </div>

    <% if f.object.respond_to?(:on_hold_images) && f.object.on_hold_images %>
      <%= render partial: 'images', locals: { 
        images: f.object.on_hold_images, 
        image_type: 'on_hold',
        edit_mode: true,
        model_type: f.object
      } %>
    <% end%>
    
    <%= f.text_area :on_hold_comment, class: 'form-control mt-2', rows: 2,
                    placeholder: t('activerecord.attributes.delivery_item.on_hold_comment') %>
  </div>
</div>
