<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :on_hold_status, t('common.labels.on_hold_status'), class: 'form-label' %>
          <%= f.select :on_hold_status, DeliveryItem::ON_HOLD_STATUSES, { include_blank: false }, class: 'form-control' %>
        </div>
      </div>
      <% if f.object.respond_to?(:on_hold_images) %>
        <div class="col-md-6">
          <%= f.label :on_hold_images, t('common.labels.on_hold_images'), class: 'form-label' %>
          <%= f.file_field :on_hold_images, multiple: true, accept: 'image/jpeg,image/png,image/gif,image/bmp,image/tiff,application/pdf', class: 'form-control' %>
        </div>
      <% end %>
    </div>

    <%= render partial: 'docuvita_documents', locals: {
      documents: f.object.on_hold_images,
      edit_mode: true,
      title: t('.on_hold_images')
    } %>

    <%= f.text_area :on_hold_comment, class: 'form-control mt-2', rows: 2,
                    placeholder: t('activerecord.attributes.delivery_item.on_hold_comment') %>
  </div>
</div>
