<% sectors.each do |sector| %>
  <div class="col-md-6 col-lg-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title">
        <i class="bi bi-folder"></i> <%= sector.key.classify.constantize.count rescue 0  %>
      </h5>
      <p class="card-text">
        <div class="h3 mb-2"><%= t('sectors.' + sector.key) %></div>
        <%= t('sectors.' + sector.key + '_description') %>
      </p>
      <div class="mt-3">
        <%#= link_to projects_path, class: 'btn btn-outline-primary m-1 me-2' do %>
          <i class="bi bi-list"></i> <%= t('navigation.menu.projects.list') %>
        <%# end %>
        <%#= link_to new_project_path, class: 'btn btn-primary' do %>
          <i class="bi bi-plus"></i> <%= t('navigation.menu.projects.new') %>
        <%# end %>
      </div>
    </div>
    </div>
  </div>
<% end %>