<% sectors.each do |sector| %>
  <div class="col-md-6 col-lg-4">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">
          <% case sector.key %>
          <% when 'incoming_delivery' %>
            <i class="bi bi-folder"></i> <%= project.incoming_deliveries.count %>
          <% when 'isometric' %>
            <i class="bi bi-diagram-3"></i> <%= project.isometries.active.count %>
          <% when 'prefabrication' %>
            <i class="bi bi-diagram-3"></i> <%= project.prefabrications.active.count %>
          <% else %>
            <i class="bi bi-folder"></i> <%= sector.key.classify.constantize.unscoped.active.count rescue 0 %>
          <% end %>
        </h5>
        <p class="card-text">
          <div class="h3 mb-2"><%= t('sectors.' + sector.key) %></div>
          <%= t('sectors.' + sector.key + '_description') %>
        </p>
        <div class="mt-3">
          <% case sector.key %>
          <% when 'incoming_delivery' %>
            <%= link_to project_incoming_deliveries_path(project), class: 'btn btn-outline-primary m-1 me-2' do %>
              <i class="bi bi-list"></i> <%= t('common.labels.overview') %>
            <% end %>
            <%= link_to new_project_incoming_delivery_path(project), class: 'btn btn-primary' do %>
              <i class="bi bi-plus"></i> <%= t('common.labels.new') %>
            <% end %>
          <% when 'isometric' %>
            <%= link_to project_isometries_path(project), class: 'btn btn-outline-primary m-1 me-2' do %>
              <i class="bi bi-list"></i> <%= t('common.labels.overview') %>
            <% end %>
            <%= link_to new_project_isometry_path(project), class: 'btn btn-primary' do %>
              <i class="bi bi-plus"></i> <%= t('common.labels.new') %>
            <% end %>
          <% when 'material_certificate' %>
            <%= link_to material_certificates_path, class: 'btn btn-outline-primary m-1 me-2' do %>
              <i class="bi bi-list"></i> <%= t('common.labels.overview') %>
            <% end %>
            <%= link_to new_material_certificate_path, class: 'btn btn-primary' do %>
              <i class="bi bi-plus"></i> <%= t('common.labels.new') %>
            <% end %>
          <% when 'prefabrication' %>
            <%= link_to project_prefabrications_path(project), class: 'btn btn-outline-primary m-1 me-2' do %>
              <i class="bi bi-list"></i> <%= t('common.labels.overview') %>
            <% end %>
            <%= link_to new_project_prefabrication_path(project), class: 'btn btn-primary' do %>
              <i class="bi bi-plus"></i> <%= t('common.labels.new') %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>