<!DOCTYPE html>
<html>
  <head>
    <title><%= t('site_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <% content_for :head do %>
      <link rel="preload" as="video" href="/video.mp4" type="video/mp4">
    <% end %>

    <link rel="manifest" href="/site.webmanifest">
    <link rel="icon" href="/android-chrome-192x192.png" type="image/png">
    <link rel="icon" href="/android-chrome-512x512.png" type="image/png">
    <link rel="apple-touch-icon" href="/android-chrome-192x192.png">

    <%= stylesheet_link_tag "application"%>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <style>
      .dashboard-video-background {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1;
        object-fit: cover;
      }

      .dashboard-content {
        position: relative;
        z-index: 1;
        width: 100%;
        min-height: 100vh;
        /* background: rgba(0, 0, 0, 0.5); */
      }
    </style>

    <video 
      autoplay muted loop playsinline 
      class="dashboard-video-background" 
      preload="auto">
      <source src="/video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <div class="dashboard-content">
      <div class="container mb-4">
        <%= render "dashboard_navbar" %>
      </div>
      <!-- Main Content -->
      <div class="container">
        <div class="text-x-small text-white text-center"><%= t('common.labels.permissions_info') %></div>

        <%= render "flash_messages" %>

        <%= yield %>
      </div>
    </div>
  </body>
</html>
